<%= title(:Production, current_user) %>
<li class="toolbar">
	<div data-role="controlgroup" data-type="horizontal" data-mini="true">					

	</div>
</li>
<li>
	<div>
		<div class="box-button">
			<div>
				Comming Soon
			</div>
			<div style="margin:5px 0px 15px 0px;"> Fermentors </div>
	
		</div>
		
		<div class="box-button">
			<div>
				Comming Soon
			</div>
			<div style="margin:5px 0px 15px 0px;"> Schedule </div>
		</div>
	</div>

	<div style="clear:both"></div>
</li>
