
	
	<div class="full sidebar">
	   	<input type="button" value="New" class='new' data-role="none"/>
		<input type="button" value="Delete" class='delete' data-role="none"/>
		<input type="button" value="Excel" class='excelExport' data-role="none"/>
		<div class="jqxGridColumnListBox">	</div>
	</div>
	<div class="full display">
    	<div class="jqxGrid full display"></div>
    	<h5 class="right" style="margin:0;"> Double click row to view. </h5>	
	</div>

