<div>
	<button class=" left popup jqxButton save" data-role="none"> Save	</button>	
	<button class=" left popup jqxButton cancel" data-role="none"> Cancel	</button>					
</div>
<table class="popup jqxValidator">
	<tbody>
		<tr>
			<th colspan="4"> <h3> Details </h3> </th>			
		</tr>

		<tr>
			<td>	<b> Description </b>	</td>
			<td>	<input type="text" id="description" class="jqxInput required" data-role="none" />	</td>
			<td> <b> Entity Mode </b> </td>
			<td>		
				<input type="text" id="mode" class="jqxInput" data-role="none" />
			</td>
		</tr>
<!--
		<tr>

			<td>	</td>
			<td>	</td>
			<td>
				<b> Admin Email </b>
			</td>
			<td>
				<input type="text" id="admin_user_email" class="jqxInput" data-role="none" />
			</td>


		</tr>

		<tr>
			<td>
				<b> Password </b>
			</td>
			<td>
				<input type="password" class="jqxInput" id="password" data-role="none" />	
			</td>
			<td>
				<b> Password Confirmation </b>
            </td>
            <td>
				<input type="password" id="password_confirmation" class="jqxInput" data-role="none" />
          	</td>	
		</tr>
-->	
		<tr>
			<td>
				<b> Address Name </b>

			</td>
			<td>
				<input type="text" id="name" class="jqxInput" data-role="none" />
			</td>
			<td>	
				<b> Street </b>

			</td>
			<td>
				<input type="text" id="street" class="jqxInput" data-role="none" />
			</td>

		</tr>
		<tr>
			<td>
				<b> City </b>
			</td>
			<td>
				<input type="text" id="city" class="jqxInput" data-role="none" />	
			</td>
			<td>
				<b> State </b>
			</td>
			<td>
				<input type="text" class="jqxInput" id="state" data-role="none" />
			</td>
		</tr>
		<tr>
			<td>	</td>
			<td>	</td>
			<td>
				<b> Zip </b>
			</td>
			<td>
				<input type="text" id="zip" class="jqxInput" data-role="none" />
			</td>
		</tr>

	</tbody>
</table>	
