    <div class="toolbar">   

    </div>

<div class="full sidebar">

   	<input type="button" value="New" class='new' data-role="none"/>
	<input type="button" value="Delete" class='delete' data-role="none" />
    <input type="button" value="Excel" class='excelExport' data-role="none"/> 

    <button class='jqxFilterToggle' data-role="none"> Filter Off </button>


	<!-- Distributor Upload -->
	<input type="button" style="float:left; margin:5px;" value="Upload Distributors" id='distributor_upload_button' data-role="none" />

	<input id="fileupload" type="file" name="files[]" data-url="<%= request.fullpath %>/distributor_upload" multiple data-role="none" />
	
	<div id="progress" class="bar"> </div>	
    <div class="jqxGridColumnListBox">  </div>
</div>
<div class="full display">
    <div class="jqxGrid full display"></div>
</div>

<script>
$(document).ready(function(){        
	 var source =
	{
		datatype: "json",
		datafields: [
			{ name: 'description' },
			{ name: 'name'},
			{ name: 'street' },
			{ name: 'city' },
			{ name: 'state' },
			{ name: 'zip' },			
			{ name: 'admin_user_email' },
			{ name: 'mode' },
			{ name: 'distribution_network_count' },
			{ name: 'production_network_count' },
			{ name: 'market_network_count' },
			{ name: 'billing_status' },
			{ name: 'kt_rate' },
			{ name: '_id' },
		], 
		url: location.href,
		updaterow: function (rowid, rowdata, commit) {
			// synchronize with the server - send update command
			// call commit with parameter true if the synchronization with the server is successful 
			// and with parameter false if the synchronization failder.		
			commit(true);
		}
		
	};

	window.dataAdapter = new $.jqx.dataAdapter(source, {
		beforeSend: function(jqXHR, settings){
			 	
		},
		loadComplete: function (data) { 
			 
		},
		loadError: function (xhr, status, error) { }      
	});

	// Initialize Grid
    var gridSettings = settings.jqxGridProperties
    gridSettings['source'] = dataAdapter;
    gridSettings['columns'] = [
		{ text: 'Entity', datafield: 'description', filtertype: 'checkedlist' },	
		{ text: 'Admin', datafield: 'admin_user_email'},
		{ text: 'Address Name', datafield: 'name', filtertype: 'checkedlist' },		
		{ text: 'Street', datafield: 'street', filtertype: 'checkedlist' },
		{ text: 'City', datafield: 'city', filtertype: 'checkedlist' },			
		{ text: 'State', datafield: 'state', filtertype: 'checkedlist' },
		{ text: 'Zip', datafield: 'zip' },
		{ text: 'KegTracker Rate', datafield: 'kt_rate', filtertype: 'checkedlist' },			
		{ text: 'Billing Status', datafield: 'billing_status' },
		{ text: 'Mode', datafield: 'mode', filtertype: 'checkedlist' },			
		{ text: 'Dist. Networks', width:100, datafield: 'distribution_network_count', filtertype: 'number' },			
		{ text: 'Prod. Networks', width:100, datafield: 'production_network_count', filtertype: 'number' },			
		{ text: 'Mrkt. Networks', width:100, datafield: 'market_network_count', filtertype: 'number' },
        { text: 'Billing Histories', columntype: 'button', filterable:false, width:'75px', cellsrenderer: function (row) {
            return 'View'
        }, buttonclick: function (row) {
            var rowdata = $('.jqxGrid').jqxGrid('getrowdata', row);
            location.href = location.href + "/" + rowdata['_id'] + '/billing_facts'
        }}, 

        { text: 'View', datafield: '_id', columntype: 'button', filterable:false, width:'75px', cellsrenderer: function (row) {
            return 'View'
        }, buttonclick: function (row) {
            var rowdata = $('.jqxGrid').jqxGrid('getrowdata', row);
            var url = location.href + "/" + rowdata['_id']            
            openPopupWindow(url);           
        }}, 

	]
    $(".jqxGrid").jqxGrid( gridSettings );  
    
	$("#distributor_upload_button").jqxButton({ theme: settings.theme,});                        
	$("#distributor_upload_button").click(function () {		

	});
	jqxIntialize()
});
</script>