$(document).on('pageshow', '#_reports_asset_cycles', function(event){	
	$.mobile.loading('show');
	var theme = settings.theme
	
	url = system.server + $('.ui-page-active').attr('data-url') + '.json'	
	var source =
	{
		datatype: "json",
		datafields: [
			{ name: 'start_network_description', type: 'string'},
			{ name: 'fill_network_description', type: 'string'},
			{ name: 'delivery_network_description', type: 'string'},
			{ name: 'pickup_network_description', type: 'string'},
			{ name: 'end_network_description', type: 'string'},
			{ name: 'product_description', type: 'string'},
			{ name: 'product_entity_description', type: 'string'},
			{ name: 'asset_type_description', type: 'string'},
			{ name: 'asset_status_description', type: 'string'},
			{ name: 'handle_code_description', type: 'string'},
			{ name: 'start_time', type: 'date'},
			{ name: 'fill_time', type: 'date'},
			{ name: 'delivery_time', type: 'date'},
			{ name: 'pickup_time', type: 'date'},
			{ name: 'end_time', type: 'date'},
			{ name: 'cycle_complete', type: 'integer'},
			{ name: '_id'}		
			
			
		],
		url: url,
		updaterow: function (rowid, rowdata, commit) {
			// synchronize with the server - send update command
			// call commit with parameter true if the synchronization with the server is successful 
			// and with parameter false if the synchronization failder.		
			commit(true);
		}
		
	};
/*
	On grid load - get total # rows
*/


	window.dataAdapter = new $.jqx.dataAdapter(source, {
		beforeSend: function(jqXHR, settings){		
			$.mobile.loading('show');	
		},
		loadComplete: function (data) { 
			$.mobile.loading('hide');
		},
		loadError: function (xhr, status, error) { }      
	});
//	window.dataAdapter = dataAdapter
	// Initialize Grid
	var gridSettings = settings.jqxGridProperties
	gridSettings['source'] = dataAdapter;
	gridSettings['columns'] = [
		{ text: 'Product', datafield: 'product_description', filtertype:'checkedlist'},
		{ text: 'Brewery', datafield: 'product_entity_description', filtertype:'checkedlist'},
		{ text: 'Size', datafield: 'asset_type_description', filtertype:'checkedlist'},
		{ text: 'Start', datafield: 'start_network_description', filtertype:'checkedlist'},
		{ text: 'Start Date', datafield: 'start_time', filtertype: 'date', cellsformat: 'd'},
		{ text: 'Fill', datafield: 'fill_network_description', filtertype:'checkedlist'},
		{ text: 'Fill Date', datafield: 'fill_time', filtertype: 'date', cellsformat: 'd'},
		{ text: 'Delivery', datafield: 'delivery_network_description', filtertype:'checkedlist'},
		{ text: 'Delivery Date', datafield: 'delivery_time', filtertype: 'date', cellsformat: 'd'},
		{ text: 'Pickup', datafield: 'pickup_network_description', filtertype:'checkedlist'},
		{ text: 'Pickup Date', datafield: 'pickup_time', filtertype: 'date', cellsformat: 'd'},
		{ text: 'Complete', datafield: 'cycle_complete', filterable: false, width: '100px', cellsrenderer: function (row, column, value) {					
				if(value == 1){
					return '<div class="grid_check on"> <span class="ui-icon ui-icon-check" style="display:inline-block"> </span></div>'
				} else {
					return '<div class="grid_check off"> <span class="ui-icon ui-icon-delete" style="display:inline-block"> </span></div>'
				}

			} 
		},

		{ text: 'View', datafield: '_id', columntype: 'button', filterable:false, width:'75px', cellsrenderer: function (row) {
			return 'View'
		}, buttonclick: function (row) {
			var rowdata = $('.jqxGrid').jqxGrid('getrowdata', row);
			var url = $('.ui-page-active').attr('data-url') + "/" + rowdata['_id'] + "/edit"						
			openPopupWindow(url)
		}},	
	]

	$(".jqxGrid").jqxGrid( gridSettings );	
	jqxIntialize()
	$.mobile.loading('hide');					
});


