#jqxMenu {
/* background:#F8F8F8; */
	width:33%;
	background:#2d2d2d;
	text-shadow:none;
 	color: #FFF;
 	border:none;
}
.jqx-window-header-metro, .jqx-input-button-header-metro, .jqx-calendar-title-header-metro, .jqx-grid-metro .jqx-widget-header-metro, .jqx-grid-header-metro, .jqx-grid-column-header-metro {
	font-size: 14px;
	font-weight: bolder;
	text-shadow:none;
	background:#FFF;
	
	border-bottom:1px solid #EEE;

}
.jqx-grid-cell-pinned .jqx-grid-cell-pinned-metro {
	background: #FFF;
}
.jqx-grid-groups-header.jqx-grid-groups-header-metro.jqx-widget-header.jqx-widget-header-metro {
	background:#FFF;
}
.jqx-grid-column-header .jqx-grid-column-header-metro .jqx-widget-header .jqx-widget-header-metro {
	border:1px solid #eee;
}
.jqx-grid-column-menubutton, .jqx-grid-column-menubutton-metro {
	border:none;
}
.jqx-grid-cell.jqx-grid-cell-metro {
	border:none;
	border-bottom:1px solid #EEE;
}


.jqxWindowContent {
	background: #FFF;
	width:100%;
}
.jqxWindowTitle.jqx-window-header.jqx-window-header-metro.jqx-widget-header.jqx-widget-header-metro.jqx-disableselect.jqx-disableselect-metro.jqx-rc-t.jqx-rc-t-metro h3 {
	color: #fff;
	text-shadow:none;
	font-weight: normal;
}
.jqxWindowTitle.jqx-window-header.jqx-window-header-metro.jqx-widget-header.jqx-widget-header-metro.jqx-disableselect.jqx-disableselect-metro.jqx-rc-t.jqx-rc-t-metro {
	background:#2d2d2d;
}
.jqxWindowTitle{
	
}


.jqx-button-metro.jqx-fill-state-pressed-metro {
	border-radius: 10px;	
}
.jqxToggle.jqx-button-metro.jqx-fill-state-normal-metro{
	background: #FFF;	
	border:1px solid #CCC;
	color:#767676;
	text-shadow:none;
	border-radius: 10px;
}


input[type="button"].jqx-input-metro.jqx-fill-state-disabled-metro{
	border:1px solid #CCC;
	color:#767676;
	border-radius: 10px;

}
.jqx-button-metro.jqx-fill-state-normal-metro{
	background: #d14836;
	color: #FFF;
	border:1px solid transparent;
	text-shadow:none;
	border-radius: 10px;

}
.jqx-button-metro.jqx-fill-state-hover-metro {
	background: #36bfd1;
	color: #FFF;
	border:1px solid transparent;
	text-shadow:none;
	border-radius: 10px;

}

.jqx-button-metro.jqx-fill-state-disabled-metro, .jqxFilterToggle {
	border:none;
	border-radius: 10px;
}
.jqxGrid.jqx-widget-content-metro, .jqxFilterToggle {
	border:none;
	border-radius: 10px;
}


.jqxWindowIFrame {
	border:none;
	margin:0;
}
.jqxWindow {
	border:1px solid #ccc;

}
.jqxWindowContent {
	padding: 0;
	background-color: #eee;
}
.jqxExpander {	
	border-bottom: 1px solid #CCC;
}

.jqxToolTip {
	display:none;
}
