<div>
	<button class=" left popup jqxButton save" data-role="none"> Save	</button>	
	<button class=" left popup jqxButton cancel" data-role="none"> Cancel	</button>					
</div>
<table class="popup jqxValidator">
	<tbody>
		<tr>
			<th colspan="4"> <h3> Details </h3> </th>			
		</tr>

		<tr>
			<td>	<b> Description </b>	</td>
			<td>	<input type="text" id="description" class="jqxInput required" data-role="none" />	</td>
			<td>
				<b>	Account # </b>
			</td>
			<td>
				<input type="text" id="externalID" class="jqxInput" data-role="none" />	            
			</td>
		</tr>
		<tr>
			<td>
				<b> Network </b>
			</td>
			<td>
				<div id="network_id" class="jqxDropDownList required "> 
				</div>
			</td>
			<td>
            	<b> Location Type </b>
            </td>
            <td>
          		<div id="location_type" class="jqxDropDownList required ">					
          	</td>	
		</tr>
		<tr>
			<th colspan="4"> <h3> Address </h3> </th>
		</tr>
	

		<tr>
			<td>
				<b> Address Name </b>

			</td>
			<td>
				<input type="text" id="name" class="jqxInput" data-role="none" />
			</td>
			<td>	
				<b> Street </b>

			</td>
			<td>
				<input type="text" id="street" class="jqxInput" data-role="none" />
			</td>

		</tr>
		<tr>
			<td>
				<b> City </b>
			</td>
			<td>
				<input type="text" id="city" class="jqxInput" data-role="none" />	
			</td>
			<td>
				<b> State </b>
			</td>
			<td>
				<input type="text" class="jqxInput" id="state" data-role="none" />
			</td>
		</tr>
		<tr>
			<td>	</td>
			<td>	</td>
			<td>
				<b> Zip </b>
			</td>
			<td>
				<input type="text" id="zip" class="jqxInput" data-role="none" />
			</td>
		</tr>
		<tr>
			<th colspan="4"> 
				<h3> 
					Assets 
					<input type="button" value="Excel" class='excelExport right' data-role="none"/>		
				</h3>
				
			</th>			
		</tr>
		<tr>
			<td colspan="4">
				<div id="assets" class="jqxGrid">	</div>
			</td>
		</tr>

	</tbody>
</table>	
<script>
	$(document).ready(function(){	
		var source = {
			datatype: "json",
			type: "GET",
			datafields: [
				{ name: 'a', type: 'string' },
				{ name: 'b', type: 'string' },
				{ name: 'c', type: 'string' },
				{ name: 'd', type: 'string' },
				{ name: 'e', type: 'string' },
				{ name: 'f', type: 'string' },
				{ name: 'g', type: 'string' },
				{ name: 'h', type: 'string' },
				{ name: 'i'},
				{ name: 'j', type: 'date' },
				{ name: 'k', type: 'date' },
				{ name: 'l'},
				{ name: 'm', type: 'number'},
				{ name: 'n', type: 'string'},			
				{ name: 'o', type: 'string'},			], 
			root: "jqxGrid",
			url: location.href,
		};		
		var dataAdapter = new $.jqx.dataAdapter(source, {
			loadComplete: function (data) {},
			loadError: function (xhr, status, error) { }      
		});
		// Initiate grid
		var gridSettings = settings.jqxGridProperties
		gridSettings['height'] = 140;
		gridSettings['filterable'] = true;
		gridSettings['groupable'] = false;
		gridSettings['source'] = dataAdapter;
		gridSettings['columns'] = [	
			{ text: 'Owner', datafield: 'a', filtertype: 'checkedlist', hidden: true },	
			{ text: 'Product', datafield: 'f', filtertype: 'checkedlist' },			
			{ text: 'Size', datafield: 'd', filtertype: 'checkedlist' },
			{ text: 'Brewery', datafield: 'b', filtertype: 'checkedlist', hidden:true },	
			{ text: 'Status', datafield: 'e', filtertype: 'checkedlist' },					
			{ text: 'Fill Date', datafield: 'j', filtertype: 'date', cellsformat: 'd', hidden:true },
			{ text: 'Tag Value', datafield: 'c', hidden: true },

			{ text: 'Location', datafield: 'g', filtertype: 'checkedlist', hidden:true },
			{ text: 'Cur. Holder', datafield: 'h', filtertype: 'checkedlist', hidden:true },
			{ text: 'Days at Location', datafield: 'm', filtertype: 'number', width:150 },
			{ text: 'Batch Number', datafield: 'n'},
			{ text: 'Invoice Number', datafield: 'o'},



			{ text: 'Last Seen', datafield: 'k', filtertype: 'date', cellsformat: 'd'  },

		]
		
		$(".jqxGrid").jqxGrid( gridSettings );	
		
	})
</script>












