
	<div class="full sidebar">
		<div class="logo">

<!--		   	
		   	<input type="button" value="New" class='new' data-role="none"/>
			<input type="button" value="Delete" class='delete' data-role="none"/>
-->			
	

		</div>
		<input type="button" value="Excel" class='excelExport' data-role="none"/>		
		<button class=' jqxFilterToggle' data-role="none"> Filter Off </button>

		<div class="jqxGridColumnListBox">	</div>
	</div>
	<div class="full display">
		<div class="toolbar">	

		</div>
    	<div class="jqxGrid full display"></div>
	</div>

<!-- BREAK POINT	-->
