<div class="toolbar">   
    <h3 class="left">
        Locations
    </h3>
    <h3 class="right">
        <%= current_user.entity.description %>
    </h3>
</div>

	<div class="full sidebar">
		<input type="button" value="Excel" class='excelExport' data-role="none"/>		
		<button class=' jqxFilterToggle' data-role="none"> Filter Off </button>

		<div class="jqxGridColumnListBox">	</div>
	</div>
	<div class="full display">
    	<div class="jqxGrid full display"></div>
	</div>

<!-- BREAK POINT	-->
<script>
$(document).ready(function(){
	// Grid data source
/*
a: x.externalID,
b: x.description,
c: x.network_description,
d: x.name,
e: x.street,
f: x.city,
g: x.state,
h: x.zip,
i: x.location_type,
j: x.location_type_description,
k: x._id,
l: current_user.entity.visible_assets.where(location_id: x._id).count,
*/
	var grid_source = {
		datatype : "json",
		type: 'GET',		
		datafields: [
			{ name: 'a', type: 'string' },
			{ name: 'b', type: 'string' },
			{ name: 'c', type: 'string' }, 
			{ name: 'd', type: 'string' },
			{ name: 'e', type: 'string' },
			{ name: 'f', type: 'string' },
			{ name: 'g', type: 'string' },					
			{ name: 'h', type: 'string' },
//			{ name: 'i', type: 'string' },
			{ name: 'j', type: 'string' },
			{ name: 'k' },
			{ name: 'l', type: 'integer'},
		], 
		url: location.href
	};
	var dataAdapter = new $.jqx.dataAdapter(grid_source, {

		loadComplete: function (data) {},
		loadError: function (xhr, status, error) { }      
	});
	// Initiate grid
	var gridSettings = settings.jqxGridProperties
	gridSettings['source'] = dataAdapter;
	gridSettings['columns'] = [	
		{ text: 'Act #', datafield: 'a' },
		{ text: 'Location', datafield: 'b' },
		{ text: 'Network', datafield: 'c', filtertype: 'checkedlist' },

		{ text: 'Name', datafield: 'd' },
		{ text: 'Address', datafield: 'e' },
		{ text: 'City', datafield: 'f' },
		{ text: 'State', datafield: 'g', filtertype: 'checkedlist' },			
		{ text: 'Zip', datafield: 'h' },
		{ text: 'Type', datafield: 'j', filtertype: 'checkedlist' },			
		{ text: '# Assets', width:75, datafield: 'l', filtertype: 'number' },			
		{ text: 'View', datafield: 'k', columntype: 'button', filterable:false, width:'75px', cellsrenderer: function (row) {
			return 'View'
		}, buttonclick: function (row) {
			var rowdata = $('.jqxGrid').jqxGrid('getrowdata', row);
			var url = location.href + "/" + rowdata['k'] + "/edit"						
			openPopupWindow(url)
		}},	

	]
	
	$(".jqxGrid").jqxGrid( gridSettings );	
	jqxIntialize()
	 					

});

</script>