.container.dashboard.content{
	width:100%;
	margin:50px auto 0 auto;
}

.dashboard.content {	
	padding-bottom:30px;
	padding-right:30px;	
}

.dashboard.content h2 {		
	width:100%;	
	display: inline-block;
	margin:15px 10px 5px -15px;
	font-size:18px;
}

.dashboard.button-group {
	width:100%;
	margin-bottom:20px;
	margin-left:25px;
	display: inline-block;		
	width:100%;
}

.dashboard.button {	
	margin-left:1%;
	margin-bottom:15px;		
	float:left;
}


.dashboard.button h3, .dashboard.button h4 {	
	vertical-align: middle;
	margin:5px 0 5px 0;
	color: #FFF;
	text-shadow:none;
}

div.dashboard.full {	
	width: 1200px;
	margin: 50px auto;
}

div.dashboard.slot {
	width:575px;
	margin: 10px 10px;
	padding: 0 0px;	
	background: #CCC;
	min-height: 300px;	
}

div.dashboard.slot.right {
	
}
div.dashboard.slot.left {	

}
