body {
	font-family: sans-serif;
	color:#333;
}
.right { float:right; clear:right;}
.left {float:left; clear:left;}
.seperator { width:100%; display:inline-block; height:10px; }
#container {
	padding:30px 0 50px 0;
	margin: auto;
	width:100%;
	display: inline-block;
	
}
/******************************
 HEADER
******************************/
	#header {
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height:20px;
		padding:5px 20px;
		background-color: #2d2d2d;
		vertical-align: center;
		text-align: left;
		color: #FFF;
		letter-spacing: 3px;	
	}


/******************************
 SIDE BAR
******************************/

/******************************
 CONTENT
******************************/
	#content_body {	
		margin: auto;
		width:1060px;
		
		padding:0px 0px 0px 110px;


	}
	#content_header {
		width:1160px;
		margin: 5px auto;
	}
		#content_header h1.page_title {
			width:1050px;
			border-bottom: 1px solid #CCC;	
			float:left;
			padding: 0px 0 0 0;
			vertical-align: bottom;
			
			margin:0 0 0px 10px;
		}
		
		#content_header img {
			width:40px;
		}
		
		#content_header h6 { 
			margin: 0px;

		}
		
		#content_header table{
			float:right;
			margin:00px auto;
		}
			#content_header td{
				text-align: center;
				margin: auto;
			}

		#header a:link, #header a:visited, #header a:hover, #header a:active {
			color: #FFF;
			text-decoration: none;
		}


/******************************
 FOOTER
******************************/
	#footer {
		position: fixed;
		bottom:10px;
		text-align: center;
		width:100%;		
	}



/*
p,li {
	padding-left: 50px;
	color:#333;
}


h1.public {
	font-size: 30px;
	font-weight: normal;
}

#info.public {
	clear:both;
	float:right;
	width: 90%;
	
	height:300px;
	padding:10px;
}
.public_container {
	margin: 0px auto 200px auto;
	
	width:960px;
	text-align: center;
}
*/
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color:#d14836 ;
}  /* selected link */






