    <div class="full display">
        <div class="toolbar">
            <h3 class="left">   Welcome    </h3>
            <h3 class="right">  <%= current_user.entity.description %>  </h3>    
            <div id="gridOptions">
                <div id="gridOptionsButtons">

                </div>
                <div id="gridOptionsExtended">
                    <div class="jqxGridColumnListBox">  </div>                
                </div>
            </div>
        </div>        
        <div class="full display">  
            <div style="text-align:center">
        	   <h2>  Welcome to Brewery Apps </h2>            
               <p>  
                    To get started use the menu to the left. <br /> <br />
                    Support is available via e-mail at help@breweryapps.com <br />
                    and by phone at (314) 435-9698
               </p>


            </div>
        </div>
    </div>