<div style="display:none">
	<div class="dashboard_filter">				
		<h5> Products </h5>
		<div id="product_filter">	</div>
	</div>

	<div class="dashboard_filter">				
		<h5> Breweries </h5>	
		<div id="product_entity_filter">	</div>
	</div>

	<div class="dashboard_filter">				
		<h5> Asset Types </h5>
		<div id="asset_type_filter">	</div>
	</div>

	<div class="dashboard_filter">		
		<h5> Location Networks </h5>		
		<div id="location_network_filter">	</div>
	</div>
</div>
	<div class="dashboard_filter">				
		<h5> Select Date </h5>
		<div id="date_filter">	</div>
	</div>

<div id="docking">
	<!-- COLUMN 1 -->
	<div style="width:33%">			
		<div id="dashboard_slot_1">
			<div> 
				In Bound Assets by Network
			</div>
			<div id='dashboard_slot_1_content' class="dashboard_chart" style="overflow:hidden">	
				
			</div>						
		</div>
		<div id="dashboard_slot_2">
			<div> 	
				Full Assets by Network
			</div>
			<div id='dashboard_slot_2_content' class="dashboard_chart" style="overflow:hidden">						
			</div>
		</div>
	</div>

	<!-- COLUMN 2 -->
	<div style="width:33%">							

		<div id="dashboard_slot_3">
			<div> 
				Out Bound Assets by Network
			</div>
			<div id='dashboard_slot_3_content' class="dashboard_chart" style="overflow:hidden">	
			</div>
		</div>				

		<div id="dashboard_slot_4">
			<div> 
				In Market Assets by Network
			</div>
			<div id='dashboard_slot_4_content' class="dashboard_chart" style="overflow:hidden">	
			</div>
		</div>
	</div>

	<!-- COLUMN 3 -->
	<div style="width:33%">							
		<div id="dashboard_slot_5">
			<div> 
				Recent Activity
			</div>
			<div id='dashboard_slot_5_content' class="dashboard_chart" style="overflow: scroll;">								
			</div>
		
		</div>				

		<div id="dashboard_slot_6">
			<div> 
				Empty Assets by Network
			</div>
			<div id='dashboard_slot_6_content' class="dashboard_chart" style="overflow:hidden">	
			</div>
		</div>
	</div>			
</div>