    <%= link_to 'Advanced View', :reports_asset_sku_summary_report_advanced, :id => :advancedView, :style => 'float:right; margin:5px 0px 5px 5px;' %> 

    <%= link_to 'Simple View', :reports_asset_sku_summary_report_simple, :id => :simpleView, :style => 'float:right; margin:5px 5px 5px 5px;' %> 
    
    <input type="button" style="float:left; margin:5px 0px 5px 0;" value="Export to Excel" id='excelExport' data-role="none"/>
    <input type="button" style="float:left; margin:5px;" value="Export to CSV" id='csvExport' data-role="none"/>

    <div id="jqxGrid">
    </div>


    <div id="docking" class="hidden">
        <div style="width:50%;">
            <div id="window1" class="report_dock_window">
                <div>
                    Full Assets
                </div>
                <div>
                    <div id="chart_1" class="report_chart">

                    </div>
                </div>
            </div>

            <div id="window3" class="report_dock_window">
                <div>
                    Assets in Market
                </div>
                <div>
                    <div id="chart_3" class="report_chart">

                    </div>
                </div>
            </div>                        
        </div>

        <div style="width:50%;">
            <div id="window2" class="report_dock_window">
                <div>
                    Empty Asset
                </div>
                <div>
                    
                    <div id="chart_2" class="report_chart">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="popupWindow" style="display:none">
        <div> Daily Asset Summary </div>
        <div>   </div>
    </div>
