<div>
	<button class=" left popup jqxButton save" data-role="none"> Save	</button>	
	<button class=" left popup jqxButton cancel" data-role="none"> Cancel	</button>					
</div>
<table class="popup jqxValidator">
	<tbody>
		<tr>
			<th colspan="4"> <h3> Details </h3> </th>			
		</tr>
		<tr>
			<td>	<b> Description </b>	</td>
			<td>	<input type="text" id="description" class="jqxInput required" data-role="none" />	</td>
			<td>	</td>
			<td>	</td>
		</tr>
		<tr>
			<td>	<b> Entity </b>	 	</td>
			<td>	
				<div id="entity_id" class="jqxDropDownList required "> </div>			
			</td>		
			<td>	<b> Network Type </b>	 	</td>
			<td>	
				<div class="jqxDropDownList required " id="network_type"> </div>
			</td>		
		</tr>

		<tr>
			<td>	
				<b> In Bound Location </b>
			</td>
			<td>
				<div id="smart_mode_in_location_id" class="jqxDropDownList "> 

			</td>			
			<td>	
				<b> Out Bound Location </b>
			</td>
			<td>
				<div id="smart_mode_out_location_id" class="jqxDropDownList "> 
				</div>										
			</td>
		</tr>
		<tr>
			<td>
				<b> Product </b>
			</td>
			<td>
				<div id="smart_mode_product_id" class="jqxDropDownList "> 
				</div>
			</td>
			<td>
                <b> Auto Mode </b>
            </td>
            <td>
              	<div id="auto_mode" class="jqxToggle">
              		Off
              	</div>
            </td>
        </tr>

	</tbody>
</table>	
