<table class="popup jqxValidator">
	<thead>
		<th>	</th>
		<th>	</th>
		<th>	</th>
		<th>	</th>
	</thead>
	<tbody>
		<tr>
			<td>	<b> Brewery </b>	</td>
			<td>	
				<div id="partner_id" class="jqxDropDownList required ">						              		
				</div>			
			</td>
			<td>	<b> Distributor </b>	 	</td>
			<td>											
              	<div id="entity_id" class="jqxDropDownList required ">						              		
              	</div>
			</td>		
		</tr>
		<tr>
			<td>	</td>			
			<td>	</td>			
			<td>	</td>
			<td> 
				<button class="popup jqxButton save" data-role="none"> Save	</button>
				<button class="popup jqxButton cancel" data-role="none"> Cancel	</button>					
		 	
			</td>						
								
		</tr>
	</tbody>
</table>	
