

   	<input type="button" style="float:left; margin:5px 5px 5px 0;" value="New" id='new' data-role="none"/>
	<input type="button" style="float:left; margin:5px 5px 5px 0;" value="Delete" id='delete' data-role="none"/>
	<input type="button" style="float:left; margin:5px 0px 5px 0;" value="Export to Excel" id='excelExport' data-role="none"/>

    <div id="jqxgrid"></div>

	<div id="docking">
	    <div style="width:100%;">
	        <div id="window1" class="report_dock_window">
	            <div>
	                Distributor Information
	            </div>
	            <div>
	            	<form id="form_validator">
		            	<table style="width:100%">
		            		<thead>
		            			<tr>
		            				<th colspan="1">
					            		
		            				</th>
		            				<th> </th>
		            				<th> </th>
		            				<th colspan="1">	            			
	            				
		            				</th>	
		            				<th colspan="1">

		            				</th>	  
		            				<th>

		            				</th>
		            			</tr>
							</thead>
		            		<tbody>
		            			<tr>
		            				<td style="width:10%" colspan="1"> 
										<h3> Brewery </h3>
						              	<div id="partner_id">						              		
						              	</div>
						            </td>

		            				<td style="width:10%" colspan="1">  
		            				</td>

		            				<td style="width:10%" colspan="1"> 
		            				</td>

		            				<td style="width:10%" colspan="1"> 
										<h3> Distributor </h3>
						              	<div id="entity_id">						              		
						              	</div>
						            </td>
						            <td></td>
						            <td></td>

		            			</tr>

		            			<tr>
		            				<td style="width:10%" colspan="1">  
										<h3> Address Name </h3>
										<span id="partner_name" class="detail_text" data-role="none">
										</span>

		            				</td>
		            				<td style="width:10%" colspan="1">  	
										<h3> Street </h3>
										<span id="partner_street" class="detail_text" data-role="none"> 
										</span>
		            				</td>

		            				<td style="width:10%" colspan="1">  	
										 <h3> City </h3>
										<span id="partner_city" class="detail_text" data-role="none"> 
										</span>	
		            				</td>

		            				<td style="width:10%" colspan="1">  
										<h3> Address Name </h3>
										<span id="entity_name" class="detail_text" data-role="none">
										</span>

		            				</td>
		            				<td style="width:10%" colspan="1">  	
										<h3> Street </h3>
										<span id="entity_street" class="detail_text" data-role="none"> 
										</span>
		            				</td>

		            				<td style="width:10%" colspan="1">  	
										 <h3> City </h3>
										<span id="entity_city" class="detail_text" data-role="none"> 
										</span>	
		            				</td>

		            			</tr>

		            			<tr>
		            				<td style="width:10%" colspan="1">  	
										<h3> State </h3>
										<span class="detail_text" id="partner_state" data-role="none">  
										</span>
		            					

		            				</td>
		            				<td style="width:10%" colspan="1">  	
										<h3> Zip </h3>
										<span id="partner_zip" class="detail_text" data-role="none">
										</span>
		            				</td>
		            				<td style="width:10%" colspan="1">  	

		            				</td>
		            				<td> 
										<h3> State </h3>
										<span class="detail_text" id="entity_state" data-role="none">  
										</span>		            					
		            				</td>
		            				<td> 
										<h3> Zip </h3>
										<span id="entity_zip" class="detail_text" data-role="none">
										</span>

		            				</td>
		            				<td> 
		            					
		            				</td>
		            			</tr>
		            			<tr>     
		            				<td style="width:10%"></td>
		            				<td style="width:10%"> </td>
		            				<td style	="width:10%"> </td>
		            				<td> </td>
		            				
		            				<td> 

		            					<input type="button" style="width:100%; margin:5px auto 0 auto; float:right; min-width:200px;" value="Cancel" id='newCancelButton' data-role="none"/>
		            					
		            				</td>

									<td> 	            				
		            					<input type="button" style="width:100%; min-width:200px; display:none; margin:5px auto 0 auto; float:right;" value="Save" id='updateSaveButton' data-role="none"/>

		            					<input type="button" style="width:100%; margin:5px auto 0 auto; float:right; min-width:200px;" value="Create" id='newSaveButton' data-role="none"/>
		            				</td>			            			      				
		            			</tr>	            							
		            		</tbody>
	            		</table>
	            	</form>
	            </div>
	        </div>
	    </div>	    
	</div>


	<div id="popupWindow" style="display:none">
		<div> Location </div>
		<div>			</div>
	</div>


