<style>
	#contacts td {
		padding: 10px 0 30px 20px;
		vertical-align: top;
	}
	#contacts h3 {
		margin:5px 0;
	}
	#contacts tr {

	}
</style>
<div id="content_header">
	<%= link_to image_tag('brewery_apps_logo.png', :style => 'width:100px; float:left;'), :public_home  %>
	<h1 class="page_title">	
		<span class="left">
	    	Brewery Apps
	    </span>
		<span class="right">
	    	Contact
	    </span>		
	</h1>
	<%= public_menu %>
	<div style="clear:both"></div>	
</div>

<div id="content_body">
	<table id="contacts">
		<tr>
			<td>	
				<%= image_tag 'drew.png', :style => 'width:200px; border:1px solid #CCC' %>
			</td>
			<td>	
				<h3> Drew Montgomery </h3>
				<div> Austin, TX </div>
				<div> Brewery Relations </div>
				<div> (561) 762-6969 </div>
				<div> drew@breweryapps.com </div>
				<p>
					Drew earned his bachelor's degree in finance and economics from Florida State University and his Masters of Accounting from The University of Texas.  After working as an oil & gas analyst in the investment banking world, Drew got his start in our industry by investing in and opening two bars in Austin, TX, (Rooftop on 6th & Rooftop on the Square). Among Drew's favorite activities are traveling, boating, and golfing.  Drew is originally from West Palm Beach, FL and now calls Austin, TX home.
				</p>
			</td>
		</tr>
		<tr> 
			<td>	
				<%= image_tag 'danny.png', :style => 'width:200px; border:1px solid #CCC' %>
			</td>
			<td>	
				<h3> Danny Orthwein </h3>
				<div> Nashville, TN </div>
				<div> Product Development </div>
				<div> (314) 435-9698 </div>
				<div> danny@breweryapps.com </div>
				<p>
					Danny comes to Brewery Apps from the R.S. Lipman Company, a beer distributor in Nashville, TN,  where he pioneered their Keg Lease program to support local/regional craft breweries.  Danny earned his bachelor's degree from Indiana University - Bloomington.  Danny enjoys the outdoors, audiobooks, and following the latest tech trends.  Danny is originally from St. Louis, MO and now calls Nashville, TN home.
				</p>
			</td>
		</tr>
	</table>
</div>