<div id="public_content">
	<div class="public_text_frame left" style="display:none">
		<div class="left">
			<h4> Get Addtional Information! </h4>
			<table class="">
				<tbody>
					<tr>
						<td> 	<label class="left" style="clear:both"> Brewery Name </label>						</td>
						<td>	<input type="text" id="brewery_name"		data-role="none" 	 class="left input" />	</td>
					</tr>
					<tr>
						<td> 	<label class="left" style="clear:both"> Contact Name </label>						</td>
						<td>	<input type="text" id="contact_name"		data-role="none" 	 class="left input" />	</td>
					</tr>

					<tr>	
						<td>	<label class="left" style="clear:both"> E-mail </label>    							</td>
						<td>	<input type="text" id="contact_email"		data-role="none" 	 class="left input" />	</td>
					</tr>

					<tr>
						<td>	<label class="left" style="clear:both"> Phone </label>    							</td>
						<td>	<input type="text" id="contact_phone"		data-role="none" 	 class="left input" />	</td>
					</tr>

					<tr>
						<td>	<label class="left" style="clear:both"> Street </label>   						 	</td>
						<td>	<input type="text" id="street"				data-role="none" 	 class="left input" />	</td>
					</tr>	

					<tr>
						<td>	<label class="left" style="clear:both"> City </label>    							</td>
						<td>	<input type="text" id="city"				data-role="none" 	 class="left input" />	</td>
					</tr>

					<tr>
						<td>	<label class="left" style="clear:both"> State </label>    							</td>
						<td>	<input type="text" id="state"				data-role="none" 	 class="left input" />	</td>
					</tr>

					<tr>	
						<td>	<label class="left" style="clear:both"> Zip </label>    							</td>
						<td>	<input type="number" id="zip"					data-role="none" 	 class="left input" />	</td>
					</tr>

					<tr>
						<td>	<label class="left" style="clear:both"> Interested in RFID </label>   			 	</td>
						<td>	<div id="rfid_interest" class="left dropdown"> </div>	</td>
					</tr>

					<tr>
						<td>	<label class="left" style="clear:both"> Number of Distributors </label>  		  	</td>
						<td>	<input type="number" id="distributor_count"	data-role="none"  	 class="left input" />	</td>
					</tr>

					<tr>
						<td>	<label class="left" style="clear:both"> Number of Asssets </label>    				</td>
						<td>	<input type="number" id="asset_count"			data-role="none" 	 class="left input">    	</td>
					</tr>

					<tr>	
						<td>	<label class="left" style="clear:both"> Additional Information </label>  							</td>
						<td>	<textarea id="notes"	data-role="none" 	 class="left input"> </textarea>	</td>
					</tr>					
				</tbody>
			</table>

			<button id="submit_registration" class="input	" data-role="none"> Send </button>
			
		</div>
	</div>	
	<div class="public_text_frame right">
		<p style="width:50%; margin:50px auto 10px auto">
			If you have any questions, would like to try one of our solutions for free, or just want some honest feedback about how to solve a challenging brewery problem...
		</p>
		<h4> Give us a call @  <br /> 314-435-9698 </h4>
		OR
		<div style="width:60%; margin:auto">
			<h4 style="float:left;"> E-mail Drew @ <br /> drew@breweryapps.com </h4>		
			<h4 style="float:right"> E-mail Danny @ <br /> danny@breweryapps.com </h4>
		</div>


		
	</div>	
	<div style="clear:both">	</div>
</div>