<div id="public_content">
	<div class="public_text_frame left">
		<div class="left">
			<h4> Get Addtional Information! </h4>
			<table id="form_validator">
				<tbody>
					<tr>
						<td> 	<label class="left" style="clear:both"> Brewery Name </label>						</td>
						<td>	<input type="text" id="brewery_name"		data-role="none" 	 class="left input" />	</td>
					</tr>
					<tr>
						<td> 	<label class="left" style="clear:both"> Contact Name </label>						</td>
						<td>	<input type="text" id="contact_name"		data-role="none" 	 class="left input" />	</td>
					</tr>

					<tr>	
						<td>	<label class="left" style="clear:both"> E-mail </label>    							</td>
						<td>	<input type="text" id="contact_email"		data-role="none" 	 class="left input" />	</td>
					</tr>

					<tr>
						<td>	<label class="left" style="clear:both"> Phone </label>    							</td>
						<td>	<input type="text" id="contact_phone"		data-role="none" 	 class="left input" />	</td>
					</tr>

					<tr>
						<td>	<label class="left" style="clear:both"> Street </label>   						 	</td>
						<td>	<input type="text" id="street"				data-role="none" 	 class="left input" />	</td>
					</tr>	

					<tr>
						<td>	<label class="left" style="clear:both"> City </label>    							</td>
						<td>	<input type="text" id="city"				data-role="none" 	 class="left input" />	</td>
					</tr>

					<tr>
						<td>	<label class="left" style="clear:both"> State </label>    							</td>
						<td>	<input type="text" id="state"				data-role="none" 	 class="left input" />	</td>
					</tr>

					<tr>	
						<td>	<label class="left" style="clear:both"> Zip </label>    							</td>
						<td>	<input type="number" id="zip"					data-role="none" 	 class="left input" />	</td>
					</tr>

					<tr>
						<td>	<label class="left" style="clear:both"> Interested in RFID </label>   			 	</td>
						<td>	<div id="rfid_interest" class="left dropdown"> </div>	</td>
					</tr>

					<tr>
						<td>	<label class="left" style="clear:both"> Number of Distributors </label>  		  	</td>
						<td>	<input type="number" id="distributor_count"	data-role="none"  	 class="left input" />	</td>
					</tr>

					<tr>
						<td>	<label class="left" style="clear:both"> Number of Asssets </label>    				</td>
						<td>	<input type="number" id="asset_count"			data-role="none" 	 class="left input">    	</td>
					</tr>

					<tr>	
						<td>	<label class="left" style="clear:both"> Additional Information </label>  							</td>
						<td>	<textarea id="notes"	data-role="none" 	 class="left input"> </textarea>	</td>
					</tr>					
				</tbody>
			</table>

			<button id="submit_registration" class="input	" data-role="none"> Send </button>
			
		</div>
	</div>	
	<div class="public_text_frame right">
		<div class="left">
			<h4> Contact Us! </h4>
			<br />
			<h5 class="public"> Sales:	</h5>
			<p>
				<b> Phone: </b> 812-340-8642 <br />
				<b> E-mail: </b> sales@craft-net.com <br />				<br />

				<b> Owner's Phone: </b> 314-435-9698 <br />
				<b> Owner's E-mail: </b> dorthwein@craft-net.com
			</p>	
			<h5 class="public"> Support:	</h5>
			<p>
				<b> Phone: </b> 812-340-8642 <br />
				<b> E-mail: </b> support@craft-net.com <br />								
			</p>				
		</div>
	</div>	
	<div style="clear:both">	</div>
</div>