<table class="popup jqxValidator">
	<thead>
		<th>	</th>
		<th>	</th>
		<th>	</th>
		<th>	</th>
	</thead>
	<tbody>
		<tr>
			<td>	<b> Product </b>	</td>
			<td>	
				<div class="jqxDropDownList required" id="product_id">	</div>	
			</td>
			<td>	<b> Entity </b> </td>
			<td>	
				<div class="jqxDropDownList required" id="entity_id">	</div>	
			</td>

		</tr>
		<tr>
			<td>	<b> Item #	</b>		</td>
			<td>	
				<input class="jqxInput" type="text"  id="item_number" data-role="none" />	
			</td>	
			<td>	<b> Primary Asset Type  </b> </td>
			<td>	
				<div class="jqxDropDownList required" id="primary_asset_type_id">	</div>	
			</td>


		</tr>
		<tr>
			<td> 					</td>
			<td> <b> 	Container Type	</b> </td>
			<td> <b>	Qty/parent		</b> </td>
			<td> <b> 	UPC / Barcode	</b> </td>
		</tr>
		<tr>
			<td>	<b> Unit </b>	 	</td>
			<td>	
				<div class="jqxDropDownList " id="tier_1_asset_type_id">	
				</div>	
			</td>
			<td>	
				<input class="jqxInput" type="number" id="tier_1_qty_per_tier_2" data-role="none" />	
			</td>		
			<td>	
				<input class="jqxInput" type="text"  id="tier_1_upc" data-role="none" /> 
			</td>		
		</tr>

		<tr>
			<td>	<b> Consumer Pack </b>	 	</td>
			<td>	
				<div class="jqxDropDownList " id="tier_2_asset_type_id">	
				</div>	
			</td>
			<td>	
				<input class="jqxInput" type="number" id="tier_2_qty_per_tier_3" data-role="none" />	
			</td>		
			<td>	
				<input class="jqxInput" type="text"  id="tier_2_upc" data-role="none" />
			</td>		
		</tr>

		<tr>
			<td>	<b> Case </b>	 	</td>
			<td>	
				<div class="jqxDropDownList " id="tier_3_asset_type_id">		</div>	
			</td>
			<td>	
				<input class="jqxInput" type="number"  id="tier_3_qty_per_tier_4" data-role="none" />	
			</td>		
			<td>	
				<input class="jqxInput" type="text"  id="tier_3_upc" data-role="none" />
			</td>		
		</tr>
		<tr>
			<td>	</td>			
			<td>	</td>			
			<td>	</td>
			<td> 
				<button class="popup jqxButton save" data-role="none"> Save	</button>
				<button class="popup jqxButton cancel" data-role="none"> Cancel	</button>					
		 	
			</td>						
								
		</tr>
	</tbody>
</table>	
