<div class="popup_title">	
	<h3> Edit Invoice Manifest </h3>
</div>
<%= render 'form' %>
<script>
	$(document).ready(function(){		
		var url = parseUrl(location) +'/<%= @record._id %>' +  '/invoice_line_items';		
		var source = {
			datatype: "json",
			type: "GET",
			datafields: [
				{name: 'sku_description', type: 'string'},
				{name: 'quantity', type: 'number'},	
				{name: 'invoice_attached_asset_count', type: 'number'},				
				{name: '_id'},	
			], 
			url: url,
		};

		invoice_line_item_data_adapter = new $.jqx.dataAdapter(source, {
			beforeSend: function(jqXHR, settings){
				 	
			},
			loadComplete: function (data) {			
				 
			},
			loadError: function (xhr, status, error) { }

		});
		//	window.dataAdapter = dataAdapter
		// 	Initialize Grid

		$("#invoice_line_items").jqxGrid({
			// Grid Options
			groupable: false,
			sortable: true,       
			filterable: false,
			showfilterrow: false,		
	        autoshowfiltericon: false,		
			theme: settings.theme,
			width: '100%',
			groupsexpandedbydefault: false,
			height:  200,
			source: invoice_line_item_data_adapter,	
			columnsresize: true,
			altrows: true,		
			columns: [
				{text: 'SKU',  datafield: 'sku_description'},
				{text: 'Fullfilled',  datafield: 'invoice_attached_asset_count', width:100},
				{text: 'Qty',  datafield: 'quantity', width:100},
			]
		});

		$('#number').jqxInput({disabled: true})
		$('#quantity').jqxInput({width:50, height:20, rtl: false, theme: settings.theme})		
		
		$('#add_invoice_line_item').click(function () {
			 		
	        var params = {record: {}}			
			params['record']['sku_id'] = $('#sku_id').val();
			params['record']['quantity'] = $('#quantity').val()
		
			$.ajax({
				type: "POST",
				dataType : "JSON",
				url: url,
				data: params,
			}).done(function( data ) {						
				invoice_line_item_data_adapter.dataBind();
			})
	 
		});

		$("#delete_invoice_line_item").click(function () {
			var rowindex = $('#invoice_line_items').jqxGrid('getselectedrowindex');
			var rowdata = $('#invoice_line_items').jqxGrid('getrowdata', rowindex);		

			$.ajax({
				type: "DELETE",
				dataType : "JSON",
				url: url + '/' + rowdata['_id'],
			}).done(function( data ) {
				invoice_line_item_data_adapter.dataBind();
			});		        	
		});
		$(".save").click(function () {
			if($('.jqxValidator').jqxValidator('validate') ){
				$('#add_to_invoice').empty()				
			}

		})
	})			
</script>