	<div id="docking">
		<div>
			<div id="window1">
				<div> 	</div>
				<div id='jqxChart' style="width:680px; height:0px">
				</div>
			</div>
			<div id="window2">
				<div></div>
				<div>

				</div>
			</div>
		</div>
		<div>
			<div id="window3">
				<div></div>
				<div>
				</div>
			</div>
			<div id="window4">
				<div></div>
				<div>

				</div>
			</div>
		</div>
	</div>

	<div id="dashboard">			
		<div style="float:left;"  id="slot_1">
		<% if user_signed_in? %>
			Dashboard Coming Soon...
		<% else %>
			Please Sign In...
		<% end %>
		</div>	
		<div style="float:left;" id="slot_2">

		</div>
	</div>
	<div style="clear:both;"> </div>
