// # Place all the behaviors and hooks related to the matching controller here.
// # All this logic will automatically be available in application.js.

$(document).on('pageshow', '#_reports_invoice_lookup', function(event){	
	// prepare the data
	$.mobile.loading('show');
	var theme = settings.theme

	var theme = settings.theme
	var source = {
		datatype : "json",
		type: 'POST',
		datafields: [
			{name: 'invoice_detail_type'},
			{name: 'invoice_detail_type_description'},
			{name: 'invoice_detail_description'},
			{name: 'asset_type_description'},
			{name: 'product_description'},
			{name: 'product_entity_description'},						
			{name: 'asset_status'},
			{name: 'asset_status_description'},			
		],
		url: system.server + $('.ui-page-active').attr('data-url') + '.json',			
		root: 'invoice_details',
	};

	var dataAdapter = new $.jqx.dataAdapter(source, {
		formatData: function(){
		    var params = {invoice : {}}			
		    
		    params['invoice']['number'] = $('#number').val()
		    return params	    
		},
		downloadComplete: function(edata, textStatus, jqXHR){				   		   								
			$('#displayInvoiceNumber').html($('#number').val());	
		}
	});

	var toThemeProperty = function (className) {
	    return className + " " + className + "-" + theme;
	}
	groupsrenderer = function (text, group, expanded, data) {
        if (data.groupcolumn.datafield == 'invoice_detail_description') { 
            return '<div class="' + toThemeProperty('jqx-grid-groups-row') + '" style="position: absolute; width:100%;">	<span>' + group + '</span>' + '<span  style="margin-right:10px; float:right;" class="' + toThemeProperty('jqx-grid-groups-row-details') + '">' + data.subItems.length + '</span></div>';
        }
    }

	// Initialize Grid	
	$("#jqxgrid").jqxGrid({		
		groupable: true,
		sortable: true,
		filterable: false,
        showfilterrow: false,		
		autoshowfiltericon: false,		
		theme: theme,
		width: system.simple_grid_width,
		groupsexpandedbydefault: false,
        groupsrenderer: groupsrenderer,		
		height: system.simple_grid_height,
		source: dataAdapter,
		columnsresize: true,
		altrows: true,	
		ready: function() {

		},
		columns: [																						
//			{ text: '', datafield: 'invoice_detail_type'},
//			{ text: '', datafield: 'invoice_detail_type_description'},
			{ text: 'Description', datafield: 'invoice_detail_description'},
			{ text: 'Brewery', datafield: 'product_entity_description'},
			{ text: 'User'},
			{ text: 'Time'},			
			{ text: 'Status', datafield: 'asset_status_description'},			
			{ text: 'Comments'},
		],
        groups: ['invoice_detail_description']
	});


	$("#date").jqxDateTimeInput({ width: '150px', height: '20px', theme: theme });
	$('#date').bind('valuechanged', function (event) {  
		
	//	var jsDate = event.args.date; 		
	}); 

	$("#number").jqxInput({placeHolder: "Invoice #", height: 20, width: 100, theme: theme });	
	$('#number').blur(function() {
		dataAdapter.dataBind();		
	});


/*
	$('#location_network_id').bind('select', function (event) {
	    var args = event.args;
	    if (args) {
	        // index represents the item's index.                
	        var index = args.index;
	        var item = args.item;
	        // get item's label and value.
	        var label = item.label;
	        var value = item.value;
	    
	    }
	});
*/

	$("#excelExport").jqxButton({ theme: theme });	
	$("#advancedView").jqxButton({ theme: theme });
	$("#simpleView").jqxButton({ theme: theme });
	
	$("#findRecord").jqxButton({ theme: theme });	
	$("#findRecord").click(function () {		
//		dataAdapter.dataBind();
//		alert(JSON.stringify($("#jqxgrid").jqxGrid('getrows')));		
	});

	
	// NEW BUTTON


	$("#excelExport").click(function () {
//		alert(JSON.stringify($("#jqxgrid").jqxGrid('getrows')));
		$("#jqxgrid").jqxGrid('exportdata', 'xls', 'jqxGrid');           
	});
	$.mobile.loading('hide');
});
