    <div class="full display">
        <div class="toolbar">
            <h3 class="left">   Access Denied    </h3>
            <h3 class="right">  <%= current_user.entity.description %>  </h3>    
            <div id="gridOptions">
                <div id="gridOptionsButtons">
                </div>
                <div id="gridOptionsExtended">
                    <div class="jqxGridColumnListBox">  </div>                
                </div>
            </div>
        </div>        	
			<% if current_user.entity.keg_tracker == 1 %>
				<h2 style="margin:50px auto 0px auto; text-align:center;">
					Woops! You don't have permission to see this.  <br /> <br />
					
				</h2>
				<div style="margin:0px auto 0px auto; text-align:center;">
					Please contact the account owner or us here at Brewery Apps 
					<br /> <br />

					<div style="margin:auto; text-align:center; width:300px;">
						<b> Contact Information 	 <br />	</b>
						<b> Phone: </b> (314) 435-9698 <br />
						<b> E-mail: </b> help@breweryapps.com <br />
					</div>
				</div>
			<% else %>

				<h2 style="margin:50px auto 0px auto; text-align:center;">
					Woops! KegTracker isn't activated for your account.  <br /> <br />
					
				</h2>
				<div style="margin:0px auto 0px auto; text-align:center;">
					<%= link_to 'Click here to manage your account settings.', :account_profiles %>  
					<br /> <br />					
				</div>	
			<% end %>
		</div>
<script>
				 
</script>