    <div id="simple_container">
        <div id="grid_title" class="simple">
            <h2>
                Network Score Card
            </h2>
            <h5>
                <span class="simple left hidden"> 
                    Network: <br />                    
                    <span id="displayNetwork"> </span>
                </span>
                
                <span class="simple left"> 
                    Date: <br />
                    <span id="displayDate"> </span>
                </span>
            </h3>            
        </div>
        <div class="simple toolbar">
            <div id='date' class="simple input left">
            </div>

            <div id='network_id' class="simple input left">
            </div>

            <input type="button" class="simple input left" value="Find Records" id='findRecord' data-role="none"/>            
        </div>

        <div style="margin-top:20px;">
            <div class="jqxExpander" style="border-top:1px solid #ccc">
                <div>   Asset Life Cycles (90 Days Rolling)  </div>                
                <div id="lifecyles">   </div>                
            </div>    

            <div class="jqxExpander">
                <div>  Loss Rate (12 Month Rolling)  </div>                
                <div> 
                    <br /> <br /> <br /> <br /> <br /> 
                    <br /> <br /> <br /> <br /> <br />
                    <br /> <br /> <br /> <br /> <br />
                    <br /> <br /> <br /> <br /> <br />
                    <br /> <br /> <br /> <br /> <br />
                    <br /> <br /> <br /> <br /> <br />

                </div>                
            </div>    

            <div class="jqxExpander">
                <div>   Inventory  </div>                                
                <div id="sku_summary">   </div>                
                

            </div>    

            <div class="jqxExpander">
                <div>   Activity  </div>                                
                <div id="activity_summary">   </div>
            </div>    

            <div class="jqxExpander">
                <div>   Comparison Rankings  </div>                
                <div> 
                    <br /> <br /> <br /> <br /> <br /> 
                    <br /> <br /> <br /> <br /> <br />
                    <br /> <br /> <br /> <br /> <br />
                    <br /> <br /> <br /> <br /> <br />
                    <br /> <br /> <br /> <br /> <br />
                    <br /> <br /> <br /> <br /> <br />

                </div>                

            </div>    

        </div>

    </div>












