    
			<input type="button" style="float:left; margin:5px 5px 5px 0;" value="New" id='addrowbutton' data-role="none"/>
			<input type="button" style="float:left; margin:5px 0px 5px 0;" value="Export to Excel" id='excelExport' data-role="none"/>
			<input type="button" style="float:left; margin:5px;" value="Export to CSV" id='csvExport' data-role="none"/>
	        <div id="jqxgrid"></div>
	
	        <div style="text-align:center">
                <h1> Report coming soon </h1>
	        </div>

	<div id="popupWindow" style="display:none">
		<div> Daily Asset Summary </div>
		<div>	</div>
	</div>


