
    <div id="simple_container">
        <div id="grid_title" class="simple">
            <h2>
                Network Score Card
            </h2>
            <h5>
                <span class="simple left hidden"> 
                    Network: <br />                    
                    <span id="displayNetwork"> </span>
                </span>
                
                <span class="simple left"> 
                    Date: <br />
                    <span id="displayDate"> </span>
                </span>
            </h3>            
        </div>

        <div class="simple toolbar">
            <div id='date' class="simple input left">
            </div>

            <div id='network_id' class="simple input left">
            </div>

            <input type="button" class="simple input left" value="Find Records" id='findRecord' data-role="none"/>
        </div>

        <div class="simple">
			<h3 style="padding:10px;" > Life Cycles </h3> 	
			<div id="lifecyles"> </div>
        	
        </div>
    </div>
