    <div class="toolbar">   
        <%= report_select_menu %>
    </div>

    <div class="full sidebar">
        <input type="button" value="Excel" class='excelExport' data-role="none"/>       
        <input type="button" value="Refresh Records" id='findRecord' data-role="none"/>
        <div id='date'>
        </div>

        <button class=' jqxFilterToggle' data-role="none"> Filter Off </button>



        <div class="jqxGridColumnListBox">  </div>
    </div>
    <div class="full display">
        <div class="jqxGrid full display"></div>
    </div>

<script>
$(document).ready(function(){

    $("#date").jqxDateTimeInput({ theme: settings.theme });
    $('#date').bind('valuechanged', function (event) {  
        
    //  var jsDate = event.args.date;       
    }); 

    var source = {
        datatype : "json",
        type: 'POST',
        datafields: [
            { name: 'fact_time', type: 'date' },
            { name: 'location_network_description', type: 'string' },
            { name: 'sku_description', type: 'string' },
            { name: 'product_description', type: 'string' },
            { name: 'product_entity_description', type: 'string' },
            { name: 'asset_type_description', type: 'string' },
            { name: 'fill_quantity', type: 'number' },
            { name: 'delivery_quantity', type: 'number' },
            { name: 'pickup_quantity', type: 'number' },
            { name: 'move_quantity', type: 'number' },
            { name: 'date_id' },
            { name: '_id' }
        ],      
        url: location.href,
        root: 'grid',
    };

    var dataAdapter = new $.jqx.dataAdapter(source, {
        formatData: function(){
            var params = {}         
            
            var jsDate = $('#date').jqxDateTimeInput('getDate'); 
            params['date'] = jsDate;

            return params       
        },
        downloadComplete: function(edata, textStatus, jqXHR){       
            var jsDate = $('#date').jqxDateTimeInput('getDate'); 
            params['date'] = jsDate;

            $('#displayDate').html(jsDate.toDateString());
        }
    });



    // Initialize Grid  
    var gridSettings = settings.jqxGridProperties
    gridSettings['source'] = dataAdapter;
    gridSettings['columns'] = [     
        { text: 'Location Network', datafield: 'location_network_description', filtertype: 'checkedlist'  },            
        { text: 'Product', width:'250px', datafield: 'product_description', filtertype: 'checkedlist'  },           
        { text: 'Brewery',  datafield: 'product_entity_description', filtertype: 'checkedlist'  },
        { text: 'Container',  datafield: 'asset_type_description', filtertype: 'checkedlist' },             


        { text: 'Fill', width:'75px', datafield: 'fill_quantity', filtertype: 'number' },
        { text: 'Delivery', width:'75px', datafield: 'delivery_quantity', filtertype: 'number' },
        { text: 'Pickup', width:'75px', datafield: 'pickup_quantity', filtertype: 'number' },
        { text: 'Move', width:'75px', datafield: 'move_quantity', filtertype: 'number' },

    ],
    
    $("#findRecord").jqxButton({ theme: settings.theme });  
    $("#findRecord").click(function () {        
        dataAdapter.dataBind();
    }); 

    $(".jqxGrid").jqxGrid( gridSettings );  
    jqxIntialize()
                        
});    
</script>