
    <div class="full sidebar">
        <div class="logo">    
        </div>

        <input type="button" value="Excel" class='excelExport' data-role="none"/>       
        <input type="button" value="Refresh Records" id='findRecord' data-role="none"/>
        <div id='date'>
        </div>

        <button class=' jqxFilterToggle' data-role="none"> Filter Off </button>



        <div class="jqxGridColumnListBox">  </div>
    </div>
    <div class="full display">
        <div class="toolbar">   

        </div>
        <div class="jqxGrid full display"></div>
    </div>


