        <input type="button" style="float:left; margin:5px 0px 5px 0;" value="Export to Excel" id='excelExport' data-role="none"/>
        <input type="button" style="float:left; margin:5px;" value="Export to CSV" id='csvExport' data-role="none"/>


        <div id="jqxgrid">

        </div>
        <div class="report_chart_container">

                <h1> Report coming soon </h1>
        <!-- 
        	<div id="chart_1" class="report_chart">

        	</div>
        	<div id="chart_2" class="report_chart">

        	</div>
        	<div id="chart_3" class="report_chart">

        	</div>
        -->

        </div>
		<div id="popupWindow" style="display:none">
			<div> Daily Asset Summary </div>
			<div>	</div>
		</div>
