#scanner{
	padding: 0px 30px 30px 30px;
	margin: auto;
	text-align: left;
	min-height: 300px;
	border:1px solid #CCC;
	width:650px;

}
.scanner.input_toggle_group h5{
	margin:20px 0px 0px 0;
}

.scanner.input_group h2{
	margin:20px 0px 0px 0;
}
.scanner.input_group h5{
	margin:20px 0px 0px 0;
}

.scanner.input_group {
	width:200px;
	margin:0px 20px 0px 0px;
}
.scanner.input_toggle_group {
	width:150px;
	margin:0px 20px 0px 0px;
}
#scan_input {
	width:100%;
	display: inline-block;
	
}
#scan_invoice {
	height: 400px;
	clear:both;
	margin:50px 0px 0 0;
	width:100%;
	display: inline-block;

}
#scan_light {
	margin:0;
	border:1px solid #CCC; 
	height:100px; 
	width:190px; 
	
	background:#FFFF00;
	text-align:center; 
	padding-top:50px;	
}

#jqxGrid.scanner {
	margin:10px 0 0 0;
}
#date.scanner {
	margin:10px 0 0 0;
}
table.scanner {
	width:100%;	
}
table.scanner td, h3 {
	padding:0px;
	margin:0px;
}
