#simple_container {
	max-width:960px;
	width:100%;
	min-height: 600px;
	border:1px solid #CCC;
	margin:20px auto 0 auto;
	background-color: #FFF;	
}


.limited.container {
    width:100%;
    

}
.limited.container h4{
    margin:5px 0;        
    color: #333;
    border-bottom: 1px solid #ccc;
}

.limited.container h3{
    margin:10px 0;

}
.jqxExpander div {
    border:none;
    padding:5px;
    border-color:#ccc;
}
.jqx-expander-header.jqx-expander-header-metro {
    
    background: #d14836;
    color:#FFF;
}

.product_detail td b {
    color:#333;
}
.product_detail table {
    text-align: left;        
    border:none;
    width:100%;
}
.product_detail td {

}
.product_detail {  
    margin: 0 0 20px 0 ;      
    
}
.billing.container p{
    margin:0px;
    font-size:12px;
}
.limited.container ul{
    list-style: none;    

}
input.input {
    margin:15px;
}

