@CHARSET "UTF-8";
 html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
	text-shadow: none;		
	background: #FFF;
	font-family: 'segoe ui', arial, sans-serif;
	color:#333;
}   
a:link {
	text-decoration: none;
}
 
#content {
	width:100%;
	padding:0 0px 0 0px;
	background: #FFF;
	height:100%;
}

#footer {
	background: #2d2d2d;	
	padding:2px;
	width:100%;
	color:#fff;
	vertical-align:middle; 
	font-size:14px;
}
.modal-blur{
	opacity: .3;;
}

.hidden {
	display:none;
}

.inline {
	display:inline-block;

}
.clear{
	clear:both;
}

.full.display {
	width:88%;
	float:right;
}

.full.sidebar {
	width:12%;
	
	float:left;
	text-align: center;
}
.full.sidebar .logo h3 {
	
	padding:10px;
	text-align:center;
}
.full.sidebar .logo{
	min-height: 80px;
	background: #EEE;
	border-bottom:1px solid #CCC;
	margin-bottom:20px;
	text-shadow:none;
	vertical-align: middle;
}

.full.display .toolbar {
	min-height:80px;
	background: #EEE;
	border-bottom:1px solid #CCC;
	margin-bottom:20px;
	
}
.full.sidebar input, button.jqxFilterToggle, .full.sidebar #date { 
	width:85%;
	margin:5px auto 5px auto;
	height:25px;
	padding:0px;

}
.full.sidebar .jqxGridColumnListBox {
	border:none;
	width:85%;
	margin: 10px auto 0 auto;
}


#quick_search {
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:1px solid #CCC;
	display:none;
}

.controll-buttons {
	vertical-align:middle;
	padding:5px 0 0 0;
}

#devise-form {
	width: 300px;
}


#scanner_panel {
	width:94%;
	margin-left:2%;

	float:left;
}

#scanner_options {
	width:35%;
	max-width:250px;
	min-width:200px;
	float:right;
}

/*************************
MENU STYLING
*************************/
.right {
	float:right;
}
.left {
	float:left;
}
