@CHARSET "UTF-8";
 html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
	text-shadow: none;		
	background: #FFF;
	font-family: 'segoe ui', arial, sans-serif;
	color:#333;
}   
a:link {
	text-decoration: none;
}
 
#content {
	width:100%;
	padding:0 0px 0 0px;
	background: #FFF;
	height:100%;
}

#footer {
	background: #2d2d2d;	
	padding:2px;
	width:100%;
	color:#fff;
	vertical-align:middle; 
	font-size:14px;
}
.modal-blur{
	opacity: .3;;
}

.hidden {
	display:none;
}

.inline {
	display:inline-block;

}
.clear{
	clear:both;
}

.full.display {
	width:88%;
	float:right;
}

.full.sidebar {
	width:12%;
	float:left;
	text-align: center;
}
.full.sidebar .logo h3 {	
	padding:10px;
	text-align:center;
}
.toolbar h3 {
	padding:15px;
	color:333;
	font-weight: normal;
	font-size:14px;
}

.toolbar {
	min-height:50px;
	background: #EEE;
	border-bottom:1px solid #CCC;
	margin-bottom:20px;
	
}
/*
.toolbar {
	padding:10px 0 10px 0;	
	background: #EEE;
	border-bottom:1px solid #CCC;
	margin-bottom:20px;
	width:100%;
}
.logo {
	width:12%;
	height:100%;
	float:left;	
}
*/
.full.sidebar input, button.jqxFilterToggle, .full.sidebar #date { 
	width:85%;
	margin:5px auto 5px auto;
	height:25px;
	padding:0px;

}
.full.sidebar .jqxGridColumnListBox {
	border:none;
	width:85%;
	margin: 10px auto 0 auto;
}


#quick_search {
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:1px solid #CCC;
	display:none;
}

.controll-buttons {
	vertical-align:middle;
	padding:5px 0 0 0;
}

#devise-form {
	width: 300px;
}


#scanner_panel {
	width:94%;
	margin-left:2%;

	float:left;
}

#scanner_options {
	width:35%;
	max-width:250px;
	min-width:200px;
	float:right;
}

/*************************
MENU STYLING
*************************/
.right {
	float:right;
}
.left {
	float:left;
}



.categoryControlContainer {		
	margin:0px auto 15px auto;
	font-size: 12px;
	width:85%;
	height: 20px;
	vertical-align:top;
	clear:both;

}

.categoryControlContainer div {		
	width:100%;
	text-align: middle;
	margin:0px auto 0px auto;
	
}
.goog-inline-block.goog-menu-button {
	background:none;
}

.categoryControlContainer .goog-inline-block.goog-menu-button-outer-box {		
	width:100%;

}
.categoryControlFilter label{
	font-weight: bolder;
	color:#2d2d2d;
}

.categoryControlFilter div{

	padding:5px 0;
	border-radius:10px;
	border:none;
}
.categoryControlFilter .goog-inline-block .goog-menu-button-dropdown {
	display:none;
}

.categoryControlFilter .goog-inline-block .goog-menu-button-outer-box, .categoryControlFilter .goog-inline-block .goog-menu-button-inner-box, .categoryControlFilter .goog-inline-block .goog-menu-button {
	background: #d14836;
	color:#FFF;	
	border: none;
	margin:0;
	padding: 0;
	height:25px;

}

/* Filtered Items ul */
.categoryControlFilter ul {
	margin: 0; padding: 0;
}
.categoryControlFilter ul li.goog-container.goog-container-horizontal.goog-inline-block {
	width:85%;
	margin-bottom:10px;
	border:1px solid #6ed5ff;
	background: #baebff;
	padding:0 5px 0px 5px;
	border-radius: 10px;
	float:right;
}

.categoryControlFilter li div.goog-inline-block.goog-link-button {
	width:5%;
	float:left;	

}

.categoryControlFilter li div.goog-control.goog-inline-block {
	width:90%;
	float:right;	

}
#dashboard_div {
	width:100%;
	text-align: center;
	margin:auto;
}
#chart4 {
	height:300px;
	width:100%;
}
#chart4 .headerRow {
	background: #FFF;
}
#chart4 .tableRow {

}
#chart4 .oddTableRow {

}
#chart4 .selectedTableRow {
	background: #1faeff;
	color:#FFF;


}
#chart4 .selectedTableRow .tableCell {
	border-bottom:1px solid #1faeff;
	color:#FFF;
}
#chart4 .hoverTableRow {

}
#chart4 .headerCell {
	font-size: 14px;
	font-weight: bolder;
	color: #333;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
	padding:0 3px 0 3px;
	
}
#chart4 .tableCell {
	color:#333;
	padding:5px 3px 5px 3px;
	border-bottom: 1px solid #EEE;

}
#chart4 .rowNumberCell {

}

.select_menu {
    
    text-align: left;
    text-shadow:none;
    
    padding:0 10px;
    background: #d14836;
    height: 25px;
    -webkit-appearance: none;
    border-radius: 10px;
    border:none;    
    color:#FFF;



}













