<table class="popup jqxValidator">
	<thead>
		<th>	</th>
		<th>	</th>
		<th>	</th>
		<th>	</th>
	</thead>
	<tbody>
		<tr>
			<td>	<b> Contractee </b>	 	</td>
			<td>											
              	<div id="entity_id" class="jqxDropDownList required ">						              		
              	</div>
			</td>		
			
			<td>	<b> Production Brewer </b>	</td>
			<td>	
				<div id="partner_id" class="jqxDropDownList required ">						              		
				</div>			
			</td>
		</tr>
		<tr>
			<td>	</td>			
			<td>	</td>			
			<td>	</td>
			<td> 
			 	<button class="popup jqxButton" id="cancel" data-role="none"> Cancel	</button>	
				<button class="popup jqxButton" id="save" data-role="none"> Save	</button>		 	
			</td>						
								
		</tr>
	</tbody>
</table>	
