<div>
	<button class=" left popup jqxButton save" data-role="none"> Save	</button>	
	<button class=" left popup jqxButton cancel" data-role="none"> Cancel	</button>					
</div>
<table class="popup jqxValidator">
	<tbody>
		<tr>
			<th colspan="4"> <h3> Details </h3> </th>			
		</tr>

		<tr>
			<td>	<b> Contractee </b>	 	</td>
			<td>											
              	<div id="entity_id" class="jqxDropDownList required ">						              		
              	</div>
			</td>		
			
			<td>	<b> Production Brewer </b>	</td>
			<td>	
				<div id="partner_id" class="jqxDropDownList required ">						              		
				</div>			
			</td>
		</tr>

	</tbody>
</table>	
