    <div class="full display">
        <div class="toolbar">
            <h3 class="left">   Location Maintenance    </h3>
            <h3 class="right">  <%= current_user.entity.description %>  </h3>    
            <div id="gridOptions">
                <div id="gridOptionsButtons">
                    <button class='restore'> Restore </button>
                    <button class='excelExport'> Excel </button>       
                    <button class='jqxFilterToggle'> Filter Off </button>
                    <button class='jqxGridColumnListBoxToggle' > Columns </button>
                </div>
                <div id="gridOptionsExtended">
                    <div class="jqxGridColumnListBox">  </div>                
                </div>
            </div>
        </div>        
        <div class="jqxGrid full display">  </div>
    </div>
<script>
$(document).ready(function(){        
    var source =
    {
        datatype: "json",
        datafields: [
            { name: 'externalID' },
            { name: 'description' },
            { name: 'network_description' }, 
            { name: 'name' },
            { name: 'street' },
            { name: 'city' },
            { name: 'state' },                  
            { name: 'zip' },                    
            { name: 'location_type_description'},
            { name: 'scope_description'},
            { name: '_id'}
        ], 
        url: parseUrl(location),
    };

    window.dataAdapter = new $.jqx.dataAdapter(source, {
        beforeSend: function(jqXHR, settings){
                
        },
        loadComplete: function (data) { 
             
        },
        loadError: function (xhr, status, error) { }      
    });
//  window.dataAdapter = dataAdapter

    // Initialize Grid
    var gridSettings = settings.jqxGridProperties
    gridSettings['source'] = dataAdapter;
    gridSettings['columns'] = [
        { text: 'Act #', datafield: 'externalID' },
        { text: 'Location', datafield: 'description' },
        { text: 'Network', datafield: 'network_description', filtertype: 'checkedlist' }, 
        { text: 'Scope', datafield: 'scope_description', filtertype: 'checkedlist' },   
        { text: 'Name', datafield: 'name' },
        { text: 'Address', datafield: 'street' },
        { text: 'City', datafield: 'city' },
        { text: 'State', datafield: 'state', filtertype: 'checkedlist' }, 
        { text: 'Zip', datafield: 'zip' },                  
        { text: 'Type', datafield: 'location_type_description', filtertype: 'checkedlist' },

        { text: 'View', datafield: '_id', columntype: 'button', filterable:false, width:'75px', cellsrenderer: function (row) {
            return 'View'
        }, buttonclick: function (row) {
            var rowdata = $('.jqxGrid').jqxGrid('getrowdata', row);            
            var url = parseUrl(location) + "/" + rowdata['_id']                      
            openPopupWindow(url)
        }}, 
    ]
    $(".jqxGrid").jqxGrid( gridSettings );  
    jqxIntialize()
});

</script>