<div>
	<button class=" left popup jqxButton save" data-role="none"> Save	</button>	
	<button class=" left popup jqxButton cancel" data-role="none"> Cancel	</button>					
</div>

<table class="popup jqxValidator">
	<thead>
		<th>	</th>
		<th>	</th>
		<th>	</th>
		<th>	</th>
	</thead>
	<tbody>
		<tr>
			<td>	<b> Description </b>	</td>
			<td>	<input type="text" id="description" class="jqxInput required" data-role="none" />	</td>
		</tr>
		<tr>
			<td>	<b> Units pet Asset </b>	 	</td>
			<td>	
				<input type="number" id="measurement_unit_qty" class="jqxInput required" data-role="none" />
			</td>		
			<td>	<b> Measurement Unit </b>	 	</td>
			<td>	
				<div class="jqxDropDownList required " id="measurement_unit_id">
			</td>		
		</tr>

		<tr>
			<td>	
				<b> Tier 1 </b>	 	
			</td>
			<td>	
				<div id="tier_1" class="jqxToggle" data-role="none"> </div>
			</td>
			<td>	
				<b> Tier 2 </b>	 	
			</td>
			<td>	
				<div id="tier_2" class="jqxToggle" data-role="none"> </div>
			</td>
		</tr>
		<tr>
			<td>	
				<b> Tier 3 </b>	 	
			</td>
			<td>	
				<div id="tier_3" class="jqxToggle" data-role="none"> </div>
			</td>
			<td>	
				<b> Tier 4 </b>	 	
			</td>
			<td>	
				<div id="tier_4" class="jqxToggle" data-role="none"> </div>
			</td>
		</tr>

		<tr>
			
			<td>	
				<b> Returnable </b>
			</td>
			<td>
				<div id="returnable" class="jqxToggle" data-role="none"> </div>
			</td>		
		</tr>
	</tbody>
</table>	

