	<!-- System/AssetType -->
   	<input type="button" style="float:left; margin:5px 5px 5px 0;" value="New" id='new' data-role="none"/>
	<input type="button" style="float:left; margin:5px 5px 5px 0;" value="Delete" id='delete' data-role="none"/>
	<input type="button" style="float:left; margin:5px 0px 5px 0;" value="Export to Excel" id='excelExport' data-role="none"/>	
	
    <div id="jqxGrid">
    </div>
