<style>
    .jqxExpander p, .jqxExpander li {
        padding:5px 20px;
        font-size: 15px;


    }
    h1 {margin:20px 0 0 0;}
    p li {
        padding:5px 30px;
    }
    .jqxExpander h3 {
        font-size:18px;
        margin:10px;

    }
    .jqxExpander div { 
        border: none;
        font:sans-serif;
        letter-spacing:0px;
        line-height: 200%;
    }

</style>    

<div id="content_header">
    <%= link_to image_tag('brewery_apps_logo.png', :style => 'width:100px; float:left;'), :public_home  %>
    <h1 class="page_title"> 
        <span class="left">
            Brewery Apps
        </span>
        <span class="right">
            FAQ
        </span>        
    </h1>
    <%= public_menu %>
    <div style="clear:both"></div>  
</div>
<div id="content_body">
    <div>
        <h1> Keg Tracker FAQ</h1>
        <div class="jqxExpander" style="text-align:left;">    
            <div>   
                <h3>
                    What is Keg Tracker?
                </h3>
            </div>
            <div>
                <p>
                    Keg Tracker is a simple and nimble asset tracking system designed for the Micro and Regional craft brewer.  Our system allows the craft brewer to monitor individual kegs, throughout the supply chain, while collecting critical business data needed to make informed decisions.
                </p>
            </div>
        </div>
        <div class="jqxExpander" style="text-align:left;">
            <div>
                <h3>
                    How does it work?
                </h3>
            </div>
            <div>
                <p>
                    Keg Tracker works by collecting information at key points throughout the keg life cycle - like when an asset was filled, delivered, or picked up.  Using this information, we generate detailed reports to illustrate what is actually happening with your kegs.  Depending on your implementation, you can use any combination of these devices to scan your kegs.
                    <ul>
                        <li> iOS or Android Smartphone  </li>
                        <li> Desktop/Laptop Computer    </li>
                        <li> RFID Tags & Readers    </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="jqxExpander" style="text-align:left;">
            <div>    
                <h3>
                    Why do I need this?
                </h3>
            </div>
            <div>
                <p>
                    Tracking you kegs is vital for two reasons - protecting the capital investment you’ve made and being able to effectively resource a key manufacturing component.   With Keg Tracker you will be able to answer important questions like:
                    <ul>
                        <li> Where are my kegs and what is in them? </li>
                        <li> How many kegs do I have at the brewery?  in the market?  total?    </li>
                        <li> Which SKUs come back the quickest from each market?    </li>
                        <li> Have I lost any of my kegs?  Who lost my kegs? </li>
                    </ul>
                    
                </p>
            </div>
        </div>
        <div class="jqxExpander" style="text-align:left;">
            <div>    
                <h3>
                    How much does this cost? (Hint: the ansewer is nothing!)
                </h3>
            </div>
            <div>
                <p>
                    Nothing!  Keg Tracker is a free to use service for Craft Brewers.
                </p>
            </div>
        </div>

        <div class="jqxExpander" style="text-align:left;">
            <div>    
                <h3>
                    Why is it Free?
                </h3>
            </div>
            <div>
                <p>
                    The American Craft Beer movement has been built on communities of individuals helping one another perfect their craft.  We view our Keg Tracker program as a way to contribute to the Craft Beer community and help promote the ideals it represents.
                </p>
            </div>
        </div>

        <div class="jqxExpander" style="text-align:left;">
            <div>    
                <h3>
                    How do I get started?
                </h3>
            </div>
            <div>
                <p>
                    To get started, sign up for our 1 month free trial today <%= link_to ' here.', :public_join_index %>
                </p>
            </div>
        </div>


        <div class="jqxExpander" style="text-align:left;">
            <div>
                <h3>
                    Where is the value created in using Keg Tracker?
                </h3>
            </div>
            <div>
                <p>    
                    Keg Tracker creates value for the craft brewer by allowing you to hold keg-losers accountable (and charge them for the full value of the asset) and prioritize your keg resource allocations.  
                </p>
            </div>
        </div>

        <div class="jqxExpander" style="text-align:left;">
            <div>    
                <h3>
                    What if my kegs are already barcoded?
                </h3>
            </div>
            <div>
                <p>    
                    Keg Tracker is designed to work with many different types of barcodes, including Franke’s - so you should be able to get started right away!
                </p>
            </div>
        </div>


        <div class="jqxExpander" style="text-align:left;">    
            <div>   
                <h3>
                    What types of barcodes are compatible?
                </h3>
            </div>
            <div>
                <p>
                    Currently Franke Barcodes and those provided by Brewery Apps are compatible with our system.  In most cases, whichever barcodes you have will work but we will need to see them to make sure.
                </p>
            </div>
        </div>    

        <div class="jqxExpander" style="text-align:left;">
            <div>    
                <h3>
                    What are the fixed costs? Are there any ongoing fixed software costs?
                </h3>
            </div>
            <div>
                <p>
                    The only fixed costs are the upfront hardware costs. After that Keg Tracker is FREE!
                </p>
            </div>
        </div>


        <div class="jqxExpander" style="text-align:left;">
            <div>    
                <h3>
                    When do I scan the kegs?
                </h3>
            </div>
            <div>        
                <p>
                    You scan a keg each time it goes to a distributor, into the market, is filled, or when it is returned to the brewery.  Using RFID technology eases the scanning process, and in many cases eliminates it.
                </p>    
            </div>
        </div>

        <div class="jqxExpander" style="text-align:left;">
            <div>    
                <h3>
                    What type of system support do I get with Keg Tracker?
                </h3>
            </div>
            <div>
                <p>
                    As a free service Keg Tracker has limited support.  Feel free to e-mail us with any questions you may have - we'll be happy to get back to you best we can.
                </p>
            </div>
        </div>
        <div class="jqxExpander" style="text-align:left;">    
            <div>   
                <h3>
                    How does Keg Tracker help brewers like me?
                </h3>
            </div>
            <div>
                <p>
                    The Keg Tracker Program helps brewers: 
                    <ul> 
                        <li>    Keep an accurate count of their keg float     </li>
                        <li>    Get lost kegs returned to them quickly        </li>
                        <li>    Find out exactly how many kegs have been lost </li>
                    </ul>
                </p>
            </div>
        </div>          
 
     
    </div>
    <div style="clear:both"></div>
</div>

<script>
    $(document).ready(function(){
        jqxIntialize();
        $(".jqxExpander").jqxExpander({ width: '100%', theme:'metro', expanded: false });
    })
</script>




