<div style="text-align:left;float:left;">
    <h1>  Keg Tracker </h1>    
    <h3> How does it work? </h3>
    <p>
        KegTracker works by collecting information at key points throughout the supply chain - like at filling, on delivery, or at pickup.  Each of these events is used to enable reporting and monitoring tools, providing you with the information you need.
        To collect this information brewers can use any combination of the following depending on what meets their needs.
                <ul>
                    <li> iOS or Android Smartphone </li>
                    <li> Desktop/Laptop Computer </li>
                    <li> RFID Tags & Readers </li>
                </ul>
    </p>
    
    <h3> Why do I need this? </h3>

    
    <h3>  Desktop Application</h3>
    <p> 
        The KegTracker desktop application is designed to do two things: <b> present important analytics </b> and <b> give you access to rich powerful datasets </b> for your own custom analysis.
        <%= image_tag('../assets/ss5.png', :style => 'width:35%; float:right; margin:10px; padding:10px; border: 1px solid #CCC;') %>        

    </p>

    <h1> Mobile App </h1>
    <%= image_tag('../assets/ss6.png', :style => 'width:35%; float:left; margin:10px; padding:10px; border: 1px solid #CCC;') %>        
    <div> 
        Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.
    </div>
</div>
