<div style="text-align:left;float:left;">
    <h1>  Desktop Application</h1>
    <div> 
        <%= image_tag('../assets/ss7.png', :style => 'width:35%; float:right; margin:10px; padding:10px; border: 1px solid #CCC;') %>
        
        Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.
        <%= image_tag('../assets/ss6.png', :style => 'width:35%; float:left; margin:10px; padding:10px; border: 1px solid #CCC;') %>
        Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.
        Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.
        
        <%= image_tag('../assets/ss5.png', :style => 'width:35%; float:right; margin:10px; padding:10px; border: 1px solid #CCC;') %>


        

        Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.
    </div>    


    <h1> Mobile App </h1>

    <div> 
        Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.  Lori Ipsum Solud. Igo zappers to visiki jesus feelers.
    </div>
</div>
