
<table style="width:100%; margin-top:40px">
	<tbody>
		<tr>
			<td style="width:50%; text-align:middle">	
				<h1> The what... </h1>
			</td>
			<td rowspan="2" style="padding:0 10px"> 
				<%= image_tag('brewery_apps_logo.png', :style => 'width:300px;') %>
			</td>
			<td style="width:50%; text-align:middle">	
				<h1>...and the why	</h1>
			</td>
		</tr>
		<tr>
			<td style="text-align:middle; vertical-align:top">		
				BreweryApps develops tools for the Craft Beer industry with three things in mind - Simplicity, Scalability, and Affordability. Simplicity in deploying and using the system. Scalability in being able to meet and address the challenges Craft Brewers face. Affordability in being priced for your scale.
			</td>
			<td style="text-align:middle; vertical-align:top">		
				The revival of American Craft Beer and the values it represents - Dedication, Individualism, and Community - are simply things that make the world a better place. Simply put, we want to be a part of helping those ideals succeed by developing great tools to support your business.
			</td>
		</tr>
	</tbody>
</table>

	
<div style="text-align:middle">
	<h1>
		Keg Tracking by Industry Folk for Industry Folk
	</h1>

	<p style="padding:0px">
		The BreweryApps KegTracker system is something new and incredible for the Craft Brewer and Keg Leaser. It gives our industry a simple way to manage a keg float while gathering the critical information needed to make informed business decisions. KegTracker takes complex technologies, like RFID tags and 2D Barcodes, and makes them simple and easy to use.
	</p>
	<p style="padding:0px">
		BreweryApps' KegTracker brings extremely powerful tools to all sizes and types of Craft Breweries in a scalable and affordable way. Getting started with the system costs as little as a 2D barcode scanner, an internet connection, and a computer - Mac or PC.
	</p>
</div>
