<div id="public_content">
	<div id="public_slide_frame"> 
		Slide Show

	</div>

	<div class="public_text_frame full">
		<h1> Keg Tracking by Industry Folk for Industry Folk	</h1>
		<p>
			The CraftNet system is something new and incredible for the Craft Brewer and Keg Leaser.  It gives our industry a simple way to manage a keg float while gathering the critical information needed to make informed business decisions.  
			CraftNet takes complex technologies, like RFID tags and 2D Barcodes, and makes them simple and easy to use.		
		<p>	
			CraftNet brings extremely powerful tools to all sizes and types of Craft Breweries in a scalable and affordable way.  Getting started with the system costs as little as a 2D barcode scanner, an internet connection, and a computer - Mac or PC.
		</p>			

		<p style="display:none">
			jQWidgets gives us something new and special. It’s a new and unique library for Web development and unlike others it makes our Apps and Websites look beautiful on desktops, touch devices and mobile phones. 

			jQWidgets is the ultimate UI toolkit for the next generation of cloud apps development and it is built entirely on open standards and technologies like HTML5, CSS, JavaScript and jQuery. 

			jQWidgets brings broad platform and device coverage with minimum development cost. It is tested with many browsers and optimized to work well on popular phones and tablet devices as well as on PCs.
		</p>
	</div>
	<div class="public_text_frame left">
		Quick Starter Trial 
	</div>
	<div class="public_text_frame right">
		<div class="left">
			<h4> Features </h4>
			<ul>
				<li> Full Life Cycle Tracking 	</li>
				<li> Out of Date beer alerts	</li>
				<li> Keg Velocity Reporting 	</li>								
				<li> Lost Asset Tracking		</li>
				<li> Subscription Based	 		</li>
				<li> Plug & Play				</li>
				<li> Platform Neutral 			</li>

			</ul>
		</div>	
		<div class="right">
			<h4> Benefits </h4>
			<ul>
				<li> Complete Visibility of your Kegs					</li>
				<li> Ensure your beer is brewery fresh			  		</li>
				<li> Increase Keg Float efficiency  					</li>		
				<li> Decrease Keg Loss Rates		  					</li>		
				<li> No Expensive Server costs  						</li>
				<li> Use any 2D USB Barcode Scanner						</li>	
				<li> Mac or PC											</li>
			</ul>
		</div>
	</div>	
	<div class="public_text_frame full">	
		<div class="quote_block left">
			<h5> Jake Hafner <br /> Civil Life Brewery </h5>
			<p>
				Lori ipsom sol ul Lir.  Ras at fis ipsome raz.  
				Lori ipsom sol ul Lir.  Ras at fis ipsome raz.  
			

			</p>
		</div>		
		<div class="quote_block left">
			<h5> Linus Hall <br /> Yazoo Brewery </h5>
			<p>
				Lori ipsom sol ul Lir.  Ras at fis ipsome raz.  
				Lori ipsom sol ul Lir.  Ras at fis ipsome raz.  
				

			</p>
		</div>			
		<div class="quote_block left">
			<h5> Jason McMurray <br /> R.S. Lipman Co. </h5>
			<p>
				Lori ipsom sol ul Lir.  Ras at fis ipsome raz.  
				Lori ipsom sol ul Lir.  Ras at fis ipsome raz.  				
			</p>
		</div>					
	</div>
	<div style="clear:both">	</div>
</div>