<div id="public_content">
	<div id="public_slide_frame"> 

        <div><div class="photo" style="background-image: url(../assets/slideshow/1.png)"></div></div>

        <div><div class="photo" style="background-image: url(../assets/slideshow/2.png)"></div></div>	

        <div><div class="photo" style="background-image: url(../assets/slideshow/3.png)"></div></div>

        <div><div class="photo" style="background-image: url(../assets/slideshow/4.png)"></div></div>

        <div><div class="photo" style="background-image: url(../assets/slideshow/5.png)"></div></div>

        <div><div class="photo" style="background-image: url(../assets/slideshow/6.png)"></div></div>

        <div><div class="photo" style="background-image: url(../assets/slideshow/7.png)"></div></div>
	</div>

	<div class="public_text_frame full">
		<h3 class="public">The what... </h3>
		<p class="public">
			CraftNet is a keg tracking system designed with three things in mind <b> - Simplicity, Scalability, and Afforadability. </b>  Simplicity in deploying and using the system.  Scalability in being able to meet and address the chalanages Craft Brewers face.  Affordability in being priced for your scale.
		</p>
		<h3 class="public">...and the why </h3>
		<p class="public">
			The revival of American Craft Beer and the values it represents <b> - dedication, individualism, and community - </b>are simply things that make the world a better place.  			
		</p>
		<p>

		</p>			
		<p>
			  Why?  Because its important to us to see American Craft Beer and the values it represents succeed.  
		</p>
	</div>
	<div class="public_text_frame left" >		
		<div class="right" style="margin-right:50px">
			<h4> Features </h4>
			<ul>
				<li> Full Life Cycle Tracking 	</li>
				<li> Out of Date beer alerts	</li>
				<li> Keg Velocity Reporting 	</li>								
				<li> Lost Asset Tracking		</li>
				<li> Subscription Based	 		</li>
				<li> Plug & Play				</li>
				<li> Platform Neutral 			</li>

			</ul>
		</div>	
		<%= image_tag 'beta_icon.png', :width => '165px', :style => 'margin-left:0px;' %>
		
	</div>
	<div class="public_text_frame right">
		<%= image_tag 'button_register-now.png', :width => '185px', :class => 'right' %>
		<div class="left">
			<h4> Benefits </h4>
			<ul>
				<li> Complete Visibility of your Kegs					</li>
				<li> Ensure your beer is brewery fresh			  		</li>
				<li> Increase Keg Float efficiency  					</li>		
				<li> Decrease Keg Loss Rates		  					</li>		
				<li> No Expensive Server costs  						</li>
				<li> Use any 2D USB Barcode Scanner						</li>	
				<li> Mac or PC											</li>
			</ul>
		</div>

	</div>	
	<div class="public_text_frame full">
		<h1> Keg Tracking by Industry Folk for Industry Folk	</h1>
		<p>
			The CraftNet system is something new and incredible for the Craft Brewer and Keg Leaser.  It gives our industry a simple way to manage a keg float while gathering the critical information needed to make informed business decisions.  
			CraftNet takes complex technologies, like RFID tags and 2D Barcodes, and makes them simple and easy to use.		
		<p>	
			CraftNet brings extremely powerful tools to all sizes and types of Craft Breweries in a scalable and affordable way.  Getting started with the system costs as little as a 2D barcode scanner, an internet connection, and a computer - Mac or PC.
		</p>			
	</div>

	<div class="public_text_frame full" style="display:none">	
		<div class="quote_block left">
			<h5> Jake Hafner <br /> Civil Life Brewery </h5>
			<p>
				Lori ipsom sol ul Lir.  Ras at fis ipsome raz.  
				Lori ipsom sol ul Lir.  Ras at fis ipsome raz.  
			

			</p>
		</div>		
		<div class="quote_block left">
			<h5> Linus Hall <br /> Yazoo Brewery </h5>
			<p>
				Lori ipsom sol ul Lir.  Ras at fis ipsome raz.  
				Lori ipsom sol ul Lir.  Ras at fis ipsome raz.  
				

			</p>
		</div>			
		<div class="quote_block left">
			<h5> Jason McMurray <br /> R.S. Lipman Co. </h5>
			<p>
				Lori ipsom sol ul Lir.  Ras at fis ipsome raz.  
				Lori ipsom sol ul Lir.  Ras at fis ipsome raz.  				
			</p>
		</div>					
	</div>
	<div style="clear:both">	</div>
</div>