// # Place all the behaviors and hooks related to the matching controller here.
// # All this logic will automatically be available in application.js.
$(document).on('pageshow', '#_maintenance_users', function(event){	
	$.mobile.loading('show');
	var theme = settings.theme
	
	url = system.server + $('.ui-page-active').attr('data-url') + '.json'	
	var source =
	{
		datatype: "json",
		datafields: [
			{ name: 'entity_description' },
			{ name: 'first_name' },
			{ name: 'last_name' },
			{ name: 'email' },
			{ name: 'cell_phone' },
			{ name: 'office_phone' },

			{ name: 'operation_description' },
			{ name: 'account_description' },
			{ name: 'financial_description' },
			{ name: '_id'}		
		], 
		url: url,
		updaterow: function (rowid, rowdata, commit) {
			// synchronize with the server - send update command
			// call commit with parameter true if the synchronization with the server is successful 
			// and with parameter false if the synchronization failder.		
			commit(true);
		}
		
	};

	window.dataAdapter = new $.jqx.dataAdapter(source, {
		beforeSend: function(jqXHR, settings){
			$.mobile.loading('show');	
		},
		loadComplete: function (data) { 
			$.mobile.loading('hide');
		},
		loadError: function (xhr, status, error) { }      
	});

	// Initialize Grid
	var gridSettings = settings.jqxGridProperties
	gridSettings['source'] = dataAdapter;
	gridSettings['columns'] = [
			{ text: 'First', datafield: 'first_name' },
			{ text: 'Last', datafield: 'last_name' },
			{ text: 'Email', datafield: 'email' }, 
			{ text: 'Entity', datafield: 'entity_description', filtertype: 'checkedlist' },
			{ text: 'Cell', datafield: 'cell_phone' },
			{ text: 'Office', datafield: 'office_phone' },
			{ text: 'Operation', datafield: 'operation_description', filtertype: 'checkedlist' },
			{ text: 'Account', datafield: 'account_description', filtertype: 'checkedlist' },
			{ text: 'Financial', datafield: 'financial_description', filtertype: 'checkedlist' },
/*
			{ text: 'Operations', datafield: 'operation', filterable: false, width: '100px', cellsrenderer: function (row, column, value) {
					if(value == 0){
						// If Denied												
						return '<div class="grid_check permission_denied"> <span class="ui-icon ui-icon-delete" style="display:inline-block"> </span></div>'
					} else if( value == 1) {
						// If User
						return '<div class="grid_check permission_user"> <span class="ui-icon ui-icon-clipboard" style="display:inline-block"> </span></div>'
					} else if( value == 2) {
						// If Power User						
						return '<div class="grid_check permission_power_user"> <span class="ui-icon ui-icon-check" style="display:inline-block"> </span></div>'

					} else if( value == 3) {
						// If Admin
						return '<div class="grid_check permission_admin"> <span class="ui-icon ui-icon-star" style="display:inline-block"> </span></div>'
					}
				}
			},
			{ text: 'Financial', datafield: 'financial', filterable: false, width: '100px', cellsrenderer: function (row, column, value) {					
					if(value == 0){
						// If Denied												
						return '<div class="grid_check permission_denied"> <span class="ui-icon ui-icon-delete" style="display:inline-block"> </span></div>'
					} else if( value == 1) {
						// If User
						return '<div class="grid_check permission_user"> <span class="ui-icon ui-icon-clipboard" style="display:inline-block"> </span></div>'
					} else if( value == 2) {
						// If Power User						
						return '<div class="grid_check permission_power_user"> <span class="ui-icon ui-icon-check" style="display:inline-block"> </span></div>'

					} else if( value == 3) {
						// If Admin
						return '<div class="grid_check permission_admin"> <span class="ui-icon ui-icon-star" style="display:inline-block"> </span></div>'
					}
				}			},
			{ text: 'Account', datafield: 'account', filterable: false, width: '100px', cellsrenderer: function (row, column, value) {					
					if(value == 0){
						// If Denied												
						return '<div class="grid_check permission_denied"> <span class="ui-icon ui-icon-delete" style="display:inline-block"> </span></div>'
					} else if( value == 1) {
						// If User
						return '<div class="grid_check permission_user"> <span class="ui-icon ui-icon-pencil" style="display:inline-block"> </span></div>'
					} else if( value == 2) {
						// If Power User						
						return '<div class="grid_check permission_power_user"> <span class="ui-icon ui-icon-check" style="display:inline-block"> </span></div>'

					} else if( value == 3) {
						// If Admin
						return '<div class="grid_check permission_admin"> <span class="ui-icon ui-icon-star" style="display:inline-block"> </span></div>'
					}
				}			
			},
			*/
			{ text: 'View', datafield: '_id', columntype: 'button', filterable:false, width:'75px', cellsrenderer: function (row) {
				return 'View'
			}, buttonclick: function (row) {
				var rowdata = $('.jqxGrid').jqxGrid('getrowdata', row);
				var url = $('.ui-page-active').attr('data-url') + "/" + rowdata['_id']						
				openPopupWindow(url)
			}},	

		]
		
	$(".jqxGrid").jqxGrid( gridSettings );	
	jqxIntialize()
	$.mobile.loading('hide');					

});
