    
			<div style="width:100%;">
				<input type="button" style="float:left; margin:5px 5px 5px 0;" value="Export to Excel" id='excelExport' data-role="none"/>
				<input type="button" style="float:left; margin:5px;" value="Export to CSV" id='csvExport' data-role="none"/>

				<input type="button" style="float:left; margin:5px;" value="Export to JSON" id='jsonExport' data-role="none"/>
			    <div id="jqxgrid"></div>
			</div>
	        <div id="docking">
	            <div style="width:50%;">
	                <div id="window1" class="report_dock_window">
	                    <div>
	                        Asset Details
	                    </div>
	                    <div id="asset_transactions">
	                    	<div style="text-align:center;"> <h1> Please Select an Asset <h1> </div>
	                    </div>
	                </div>
	            </div>

	            <div style="width:50%;">
	                <div id="window2" class="report_dock_window">
	                    <div>
	                        Assets
	                    </div>
	                    <div>
				            <div style='' id='jqxListBox'>
				            </div>
	                    </div>
	                </div>
	            </div>
	        </div>


			<div id="popupWindow" style="display:none">
				<div> Asset 	</div>
				<div>			</div>
			</div>
