<div class="ui-block-a" style="width:70%; text-align:center; padding:0 1% 0 1%">
	<%= render "scan_modes" %>
	<ul data-role="listview" data-divider-theme="a" data-inset="true" style="margin:10px 0 0 0">
		<li data-role="list-divider"> 	Delivery Location 	</li>
		<li> 
			<span style="float:left;" id="scannerLocationLabel"> 
				Select Location:
			</span>	 	
			<span style="float:right" id="scannerLocationEntityLabel"> 

			</span>	 	
			<div style="clear:both">	</div>
		</li>
	</ul>
	<ul data-role="listview" data-divider-theme="a" data-inset="true" style="margin:10px 0 0 0">
		<li data-role="list-divider"> 	Scanner 	</li>
		<li> 										
			Connect barcode scanner to begin scanning
			<input type="text" id="scannerInput" />					
		</li>
	</ul>			
</div>
<div class="ui-block-b" style="width:26%;">
	<%= render "locations" %>
</div>