<div data-role="collapsible" data-theme="a" data-content-theme="a">
	<h3> Location: </h3> 
	<p>

	</p>
	<ul data-inset="true" data-filter="true" data-split-icon="info" data-role="listview" data-theme="d" data-dividertheme="d">
		<% @entity_locations.each do |entity_location| %>
			<li> <a onClick="pageFunctions.selectLocation(<%= '\'' + entity_location.id.to_s + '\', \'' + entity_location.entity.description + '\', \'' + entity_location.description + '\''  %>)"> <%= entity_location.description  %> </a>	</li>			
		<% end %>
	<ul>
</div>
