<div data-role="collapsible" data-theme="a" data-content-theme="a">
	<h3> Products: </h3> 
	<p>

	</p>
	<ul id="" data-inset="true" data-filter="true" data-split-icon="info" data-role="listview" data-theme="d" data-dividertheme="d">
		<% @products.each do |product| %>
			<li> <a onClick="pageFunctions.selectProduct(<%= '\'' + product.id.to_s + '\', \'' + product.entity.description + '\', \'' + product.description + '\''  %>)"> <%= product.description  %> </a>	</li>			
		<% end %>	
	<ul>
</div>
