<table class="popup jqxValidator">
	<thead>
		<th>	</th>
		<th>	</th>
		<th>	</th>
		<th>	</th>
	</thead>
	<tbody>
		<tr>
			<td>	<b> Description </b>	</td>
			<td>	<input type="text" id="description" class="jqxInput required" data-role="none" />	</td>
		</tr>
		<tr>
			<td>	<b> Units pet Asset </b>	 	</td>
			<td>	
				<input type="number" id="measurement_unit_qty" class="jqxInput required" data-role="none" />
			</td>		
			<td>	<b> Measurement Unit </b>	 	</td>
			<td>	
				<div class="jqxDropDownList required " id="measurement_unit_id">
			</td>		
		</tr>

		<tr>
			<td>	
				<b> Tier </b>	 	
			</td>
			<td>	
				<input type="number" id="tier" class="jqxInput required" data-role="none" />	
			</td>
			
			<td>	
				<b> Returnable </b>
			</td>
			<td>
				<input type="number" id="returnable" class="jqxInput required" data-role="none" />
			</td>		
		</tr>
		<tr>
			<td>	</td>			
			<td>	</td>			
			<td>	</td>
			<td> 
			 	<button class="popup jqxButton" id="cancel" data-role="none"> Cancel	</button>	
				<button class="popup jqxButton" id="save" data-role="none"> Save	</button>		 	
			</td>						
								
		</tr>
	</tbody>
</table>	
