<div id="public_content">
	<div class="public_text_frame full">		
		<h1 style="text-align:center"> 
			30 Day Free Trial on All Accounts
		</h3>
	</div>

	<div class="public_text_frame full">
		<table>
			<thead>
				<tr>
					<th class="pricing_col_1 "> Brew Pub 	</th>					
					<th class="pricing_col_2 "> Micro Brewery		</th>					
					<th class="pricing_col_3 "> Small Brewery		</th>
					<th class="pricing_col_4 "> Medium Brewery		</th>
					<th class="pricing_col_5 "> Regional Brewery	</th>
					<th class="pricing_col_6 "> Large  Brewery		</th>					
				</tr>
			</thead>
			<tbody>
				<tr class="public_price_row">									
					<td class="pricing_col_1">												
							<span class="price">$50.00</span> 
							<span class="month">/ Mo. </span>	
					</td>
					<td class="pricing_col_2">											
							<span class="price">$150.00</span> 
							<span class="month">/ Mo. </span>	
					</td>
					<td class="pricing_col_3">											
							<span class="price">$225.00</span> 
							<span class="month">/ Mo. </span>	
					</td>
					<td class="pricing_col_4">											
							<span class="price">$325.00</span> 
							<span class="month">/ Mo. </span>	
					</td>
					<td class="pricing_col_5">											
							<span class="price">$425.00</span> 
							<span class="month">/ Mo. </span>								
					</td>
					<td class="pricing_col_6">												Contact Us			
					</td>
				</tr>					
				<tr class="public_price_row">
					<td class="pricing_col_1">											
						<ul>
							<li class="header">  Each Month  </li>
							<li> 150 Assets 	</li>
							<li> Unlimited Users</li>
							
						</ul>							
					</td>
					<td class="pricing_col_2">											
						<ul>
							<li class="header">  Each Month  </li>
							<li>	151 - 750 Assets </li>
							<li> Unlimited Users</li>	
						</ul>
					</td>
					<td class="pricing_col_3">											
						<ul>
							<li class="header">  Each Month  </li>
							<li>	751 - 1500 Assets	</li>
							<li> Unlimited Users</li>
							
						</ul>							
					</td>

					<td class="pricing_col_4">											
						<ul> 
							<li class="header">  Each Month  </li>
							<li>	1501 - 3000 Assets	</li>
							<li> Unlimited Users</li>	
						</ul>
					</td>
					<td class="pricing_col_5">											
						<ul> 
							<li class="header">  Each Month  </li>
							<li> 3001 - 5000 Assets	</li>		
							<li> Unlimited Users</li>
						</ul>
					</td>
					<td class="pricing_col_6">											
						<ul> 
							<li class="header">  Each Month  </li>
							<li> Unlimited Assets </li>					
							<li> Unlimited Users</li>	
							<li class="asterisk"> <br />*Pricing TBD 	</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th class="pricing_col_1 ">  	</th>					
					<th class="pricing_col_2 "> 	</th>					
					<th class="pricing_col_3 "> 	</th>
					<th class="pricing_col_4 "> 	</th>
					<th class="pricing_col_5 "> 	</th>
					<th class="pricing_col_6 "> 	</th>					
				</tr>				
			</tbody>
		</table>
	</div>
	<div class="public_text_frame full">		
		<div class="quote_block left">
			<h5> What type of equipment do I need? </h5>
			<p>	
				To get started you'll need a computer, an internet connection and a 2D Barcode scanner.	
			</p>

			<br />
			
			<h5> I already have a barcode scanner - can I try your system without the starter kit? </h5>
			<p> Yes - we'll be happy to send you some barcodes to try out the system free of charge.  </p>
		</div>	
		<div class="quote_block left">
			<h5> My kegs already have a barcode why do I need your stickers? </h5>
			<p> Our barcodes contain some additional information used by the system beyond a simple ID.  This information is needed to accurately track & protect your assets	</p>
			<br />
			<h5> Can I print my own barcodes? </h5>
			<p> Yes - we'll be happy to send you a formatted PDF or CSV file with your barcodes free of charge.  We will also print & ship labels to you our cost of production.  </p>
		</div>

		<div class="quote_block left">
			Image
		</div>
	</div>	
	<div style="clear:both">	</div> 	
</div>