<div id="simple_container">
    <div class="simple toolbar">
        <h3 class="simple"> Account </h3>
        <h5>   This page is not currently active</h5>
    </div>
    <table class="simple">
        <tbody>
            <tr>            
                <td>    
                    <label class="left simple" style="clear:both"> Admin </label>
                </td>
                <td>                                            
                    <div id="admin_user_id" style="margin-bottom:5px;" class="left">    </div>
                    <button id="admin_user_id_save" data-role="none" class="input left">  Save  </button>
                </td>

                
                <td>    
                    <span class="simple small-font">
                        This is your admin account which controlls all billing and system configurations.
                        <br />
                        <br />
                        Changing this will lock you out of this screen and transfer billing responisbility to another user.  
                    </span>



                </td>
            </tr>
            <tr>
                <td>    
                    <label class="left simple" style="clear:both"> Address </label>
                </td>

                <td>                                            
                    <input type="text" id="name" data-role="none" class="left input" />         

                    <input type="text" id="address_1" data-role="none" class="left input" />                     
                    <input type="text" id="address_2" data-role="none" class="left input" />                     


                    <input type="text" id="city" data-role="none" class="left input" />                     

                    <input type="text" id="state" data-role="none" class="left input" />                     

                    <input type="text" id="zip" data-role="none" class="left input" />

                    <button id="address_save" data-role="none" class="input left">  Save  </button>
                </td>
                <td>
                    <span class="simple small-font">
                        This is your public address for your main facility and will be visible to other CraftNet members.
                    </span>
                </td>

                <!--  COL 3   -->
                <td>    
                </td>
            </tr>
            <tr>            
                <td>    
                    <label class="left simple" style="clear:both"> Billing </label>
                </td>
                <td>                                            
                    
                </td>

                
                <td>    
                </td>
            </tr>                    
        </tbody>
    </table>

    <div style="clear:both">    </div>
</div>