<style>

    .billing.container {
        width:960px;
        margin:25px auto;

    }
    .billing.container h4{
        margin:5px 0;        
        color: #333;
        border-bottom: 1px solid #ccc;
    }

    .billing.container h3{
        margin:10px 0;

    }
    .jqxExpander div {
        border:none;
        padding:5px;
        border-color:#ccc;
    }
    .jqx-expander-header.jqx-expander-header-metro {
        
        background: #d14836;
        color:#FFF;
    }
    
    .product_detail td b {
        color:#333;
    }
    .product_detail table {
        text-align: left;        
        border:none;
        width:100%;
    }
    .product_detail td {
    
    }
    .product_detail {  
        margin: 0 0 20px 0 ;      
        
    }
    .billing.container p{
        margin:0px;
        font-size:12px;
    }
    .billing.container ul{
        list-style: none;    

    }
    input.input {
        margin:15px;
    }
/*        
                <li> Invoice Manifests </li>
                <li> Asset - Current State </li>
                <li> My Locations - Current Holdings </li>
                <li> Asset Cycle Report - Active & Completed </li>
                <li> SKU Cycle Summary Report - by Distribution Channel </li>
                <li> SKU Cycle Summary Report - by Production Channel </li>
                <li> Inventory Report - by SKU </li>
                <li> Asset Activity - by SKU </li>
                </tr>
*/                
</style>

<div class="billing container">    
    <div class="jqxExpander">
        <div>
            <h3 class=""> Account </h3>
        </div>
        <div> 
            Account Information
        </div>        
    </div>    
    <div class="jqxExpander">
        <div>
            <h3 class=""> Billing </h3>
        </div>
        <div>
            <form action="https://spreedlycore.com/v1/payment_methods" method="POST">                    
                <div style="width:45%; float:left;">         
                    <h4> Credit Card Information</h4>
                
                    <table>
                        <tbody>
                            <tr>
                                <td>    
                                    <input id="credit_card_first_name" name="credit_card[first_name]" type="text" class="input" />
                                    <input id="credit_card_last_name" name="credit_card[last_name]" type="text" class="input" />
                                </td>

                            </tr>
                            <tr>
                                <td> 
                                    <input id="credit_card_number" name="credit_card[number]" type="text" class="input" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="credit_card_month" name="credit_card[month]" type="text" class="input" />
                                    <span style="font-size:15px">/</span>
                                    <input id="credit_card_year" name="credit_card[year]" type="text" class="input" />
                                </td>
                            </tr>
                            <tr>                                
                                <td>
                                    <input id="credit_card_verification_value" name="credit_card[verification_value]" type="text" class="input" />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <input name="redirect_url" type="hidden" value="http://localhost:3000/account" />
                    <% if %>
                        <input name="api_login" type="hidden" value="ZCqlTGZYtZQesf5Zodny9jtQwj3" />
                    <% else %>
                        <input name="api_login" type="hidden" value="ENV['SPREEDLYCORE_API_LOGIN']" />
                    <% end %>
                    <button type="submit" id="credit_card_submit" class="input">  Submit Card  </button>                    
                </div>    
                <div style="width:45%; float:right;">         
                    <h4> Billing Address</h4>                
                </div>                
            </form>
        </div>
    </div>


    <div class="jqxExpander">
        <div>
            <h3 class=""> KegTracker </h3>
        </div>
        <div> 
            <div style="width:45%;" class="left">
                <div class="product_detail">
                    <h4>    Complete asset tracking </h4>
                    <p>
                        Monitor your keg assets throughout the supply chain by size, product, location, and sku.
                    </p>
                </div>        
                <div class="product_detail">
                    <h4>    Pricing </h4>
                    <p>
                        <table>
                            <tr>
                                <td> <b> Subscription </b> </td>
                                <td> Monthly</td>
                            </tr>
                            <tr>
                                <td> <b> Rate </b></td>
                                <td> $0.04 per CE </td>
                            </tr>
                            <tr>
                            </tr>
                        </table>
                    </p>
                </div>

            </div>
            <div style="width:45%;" class="right">
                <div class="product_detail">
                    <h4>    Mobile, Desktop, & RFID   </h4>
                    <p>
                        Use any combination of smartphones, desktop computers, or RFID equipment to collect scan and track your assets.
                    </p>
                </div>

                <div class="product_detail">
                    <h4>    Interactive reporting   </h4>
                    <p>
                        Effectively manage your keg float with our comprehensive reporting tools. 
                    </p>    
                </div>                

            </div>
        </div>    
    </div>



    <div class="jqxExpander">
        <div>
            <h3 class=""> KegReg </h3>
        </div>
        <div> 
            <div style="width:45%;" class="right">

                <div class="product_detail ">
                    <h4>    Lost Keg Return   </h4>
                    <p>
                        Consumers, KegTracker Customers, and our Distributor Partners will be able to find your contact information when they type in your a given kegs serial number.
                    </p>
                </div>
                <div class="product_detail">
                    <h4>    Keg Registration </h4>
                    <p>
                        Keep an accurate count of your current keg float and allow other Brewery Apps affialiates to find your contact information incase your keg is lost.
                    </p>
                </div>        


            </div>
            <div style="width:45%;" class="left">
                <div class="product_detail">
                    <h4>    Participate within our partner network    </h4>
                    <p>
                        KegTracker customers & distributor partners will be able to scan and handle your assets.  If a participating partner does scan your asset, its last known location will be reflected in your keg asset inventory.
                    </p>    
                </div>                


                <div class="product_detail">
                    <h4>    Pricing </h4>
                    <p>
                        <table>
                            <tr>
                                <td> <b> Subscription </b> </td>
                                <td> Monthly</td>
                            </tr>
                            <tr>
                                <td> <b> Rate </b></td>
                                <td> FREE </td>
                            </tr>
                            <tr>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
        </div>    
    </div>



</div>
<script>
$(document).ready(function(){
    var theme = settings.theme
    url = location.href;
    // Inputs
  
  
            // Create jqxExpander
    $(".jqxExpander").jqxExpander({ width: '100%', theme:'metro', expanded: true });


    $(".input").jqxInput({height: '20px', theme: theme, disabled: false });
/*
    $("#name").jqxInput({placeHolder: 'Name'});
    $("#address_1").jqxInput({placeHolder: 'Address 1'});
    $("#address_2").jqxInput({placeHolder: 'Address 2'});
    $("#city").jqxInput({placeHolder: 'City', width: '150px'});
    $("#state").jqxInput({placeHolder: 'State', width:'60px'});
    $("#zip").jqxInput({placeHolder: 'Zip', width:'60px'});
*/

    $("#credit_card_first_name").jqxInput({placeHolder: 'First Name', width: '125px'});
    $("#credit_card_last_name").jqxInput({placeHolder: 'Last Name', width: '125px'});
    $("#credit_card_number").jqxInput({placeHolder: 'Card #', width: '255px'});
    $("#credit_card_verification_value").jqxInput({placeHolder: 'CSV', width: '71px'});
    $("#credit_card_month").jqxInput({placeHolder: 'Exp. Month', width: '75px'});
    $("#credit_card_year").jqxInput({placeHolder: 'Exp. Year', width: '100px'});
    $("#city").jqxInput({placeHolder: 'City', width: '150px'});
    
    $("#credit_card_submit").jqxButton({ theme: theme, width:100, height:20 });            
    $("#credit_card_submit").click(function () {

    });


    $(".toggle_switch").jqxToggleButton({ width: '100%', height:'15px', theme: theme, disabled: true });
    $(".toggle_switch").bind('click', function () {        
        if(!$(this).attr('disabled')){          
            var toggled = $(this).jqxToggleButton('toggled');
            if (toggled) {
                $(this).html('On');
                $(this).val(1);
            }
            else {
                $(this).html('Off');
                $(this).val(0);
            }
        }
    });
                  
});

</script>