<div class="popup_title">	
	<h3 class="left"> View Product</h3>
	<% if can? :edit, :products %>
  		<button id="edit" class="right jqxButton" data-role="none"> Edit </button>
	<% end %>
	<div style="clear:both">	</div>
</div>
<%= render 'form' %>
