table.popup{ 
	margin: 10px;
	background-color: #FFF;
	border:1px solid #CCC;		
}
table.popup td {
	padding:10px;	
} 
.popup_title {
	padding:5px;

	margin:10px;	
	background-color: #FFF;
	border:1px solid #CCC
}
button.popup {
	float:right;
	margin-left:5px;
}
.popup b {
	font-size:14px;

}
.popup th h3 {
	text-align: left;
	font-size:16px;
	font-style: italic;
	margin-top:30px;	
	margin-bottom:0px;
	padding: 0;
}