<table class="popup jqxValidator">
	<thead>
		<th>	</th>
		<th>	</th>
		<th>	</th>
		<th>	</th>
	</thead>
	<tbody>
		<tr>
			<td>	<b> Description </b>	</td>
			<td>	<input type="text" id="description" class="jqxInput required" data-role="none" />	</td>
			<td>	<b> Product # </b>	 	</td>
			<td>	
				<input type="text" id="externalID" class="jqxInput" data-role="none" />
			</td>		
		</tr>				
		<tr>
			<td>	<b> Brewer </b>	</td>
			<td>	<div id="entity_id" class="jqxDropDownList required ">	</div></td>
			<td>	</td>
			<td>	</td>
		</tr>
		<tr>
			<td>	</td>			
			<td>	</td>			
			<td>	</td>
			<td> 
				<button class="popup jqxButton save" data-role="none"> Save	</button>
				<button class="popup jqxButton cancel" data-role="none"> Cancel	</button>					
			</td>						
								
		</tr>
	</tbody>
</table>	
