<div>
	<button class=" left popup jqxButton save" data-role="none"> Save	</button>	
	<button class=" left popup jqxButton cancel" data-role="none"> Cancel	</button>					
</div>
<table class="popup jqxValidator">
	<tbody>
		<tr>
			<th colspan="4"> <h3> Details </h3> </th>			
		</tr>

		<tr>
			<td>	<b> Description </b>	</td>
			<td>	<input type="text" id="description" class="jqxInput required" data-role="none" />	</td>
			<td>	<b> Product # </b>	 	</td>
			<td>	
				<input type="text" id="externalID" class="jqxInput" data-role="none" />
			</td>		
		</tr>				
		<tr>
			<td>	<b> Brewer </b>	</td>
			<td>	<div id="entity_id" class="jqxDropDownList required ">	</div></td>
			<td>	</td>
			<td>	</td>
		</tr>
	</tbody>
</table>	
