<div class="li-content">
	<div style="float:left; width:20%; margin-right:25px;">
		<ul data-theme="c" data-role="listview" data-filter="true" data-inset="true">
			<li> <%= link_to 'Daily Asset Summary Report', reports_daily_asset_summary_report_path %> </li>
			<li> <a href="#" data-url="/reports/daily_activity_report" class="report_link"> Daily Activity Report </a> </li>
			<li> <a href="#" data-url="/reports/daily_asset_summary_report" class="report_link"> Daily Asset Summary Report </a> </li>
		</ul>
	</div>
		Date Format: MM/DD/YY <br />
	<input id="report_viewer_date" style="float:left; width:200px;" type="date"></input>


	<div id="report_viewer" style="float:left; width:75%;">

		Please Select a Report
	</div>
	<div style="clear:both">	</div>
</div>
