<div>
	<button class=" left popup jqxButton save" data-role="none"> Save	</button>	
	<button class=" left popup jqxButton cancel" data-role="none"> Cancel	</button>					
	
</div>
<table class="popup jqxValidator">
	<tbody>
		<tr>
			<th colspan="4"> <h3> Login </h3> </th>			
		</tr>

		<tr>
			<td>
				<b> Email/Login </b>
			</td>
			<td>
				<input type="text" id="email" class="jqxInput required" data-role="none" />
			</td>
			<td>	
				<b> Entity </b>
			</td>
			<td>	
				<div id="entity_id" class="jqxDropDownList required ">		
              	</div>
			</td>

		</tr>
		<tr>
			<td>
				<b> Change Password </b>
			</td>
			<td>
				<input type="password" class="jqxInput" id="password" data-role="none" />
			</td>
			<td>
	            <b> Confirm Password </b>
	        </td>
	        <td>
				<input type="password" id="password_confirmation" class="jqxInput" data-role="none" />
			</td>
		</tr>
		<tr>
			<th colspan="4"> <h3> User Details </h3> </th>			
		</tr>
		<tr>
			<td>
				<b > First Name </b>
			</td>
		 	<td>
		 		<input type="text" id="first_name" class="jqxInput" data-role="none" />
		 	</td>
		
			<td>
				<b> Last Name </b>
			</td>
			<td>
				<input type="text" id="last_name" class="jqxInput" data-role="none" />	            				
			</td>
		</tr>
		<tr>
			<td>
				<b> Office Phone </b>
			</td>
			<td>
				<input type="text" id="office_phone" class="jqxInput" data-role="none" />	
			</td>
			<td>
				<b> Cell Phone </b>
			</td>
			<td>
				<input type="text" id="cell_phone" class="jqxInput" data-role="none" />
			</td>
		</tr>		
		<tr>
			<th colspan="4"> <h3> Scanning </h3> </th>			
		</tr>
		<tr>
			<td>
                <b> Operations </b>
            </td>
            <td>
              	<div id="operation" class="jqxDropDownList required">
              		Off
              	</div>
            </td>
            <td>	            
                <b> Financials </b>
            </td>
            <td>
              	<div id="financial" class="jqxDropDownList required">
              		Off
              	</div>
            </td>
        <tr>
        	<td>
                <b> Account Admin </b>
            </td>
            <td>
              	<div id="account" class="jqxDropDownList required">
              		Off
              	</div>
            </td>
            <td>

            </td>
            <td>
            </td>
        </tr>
	</tbody>
</table>	

