<table class="popup jqxValidator">
	<thead>
		<th>	</th>
		<th>	</th>
		<th>	</th>
		<th>	</th>
	</thead>
	<tbody>
		<tr>
			<th style="border-bottom:1px solid #CCC;" colspan="4"> <h3> Login </h3> </th>			
		</tr>

		<tr>
			<td>
				<b> Email/Login </b>
			</td>
			<td>
				<input type="text" id="email" class="jqxInput required" data-role="none" />
			</td>
			<td>	
				<b> Entity </b>
			</td>
			<td>	
				<div id="entity_id" class="jqxDropDownList required ">		
              	</div>
			</td>

		</tr>
		<tr>
			<td>
				<b> Change Password </b>
			</td>
			<td>
				<input type="password" class="jqxInput" id="password" data-role="none" />
			</td>
			<td>
	            <b> Confirm Password </b>
	        </td>
	        <td>
				<input type="password" id="password_confirmation" class="jqxInput" data-role="none" />
			</td>
		</tr>
		<tr>
			<th style="border-bottom:1px solid #CCC;" colspan="4"> <h3> User Details </h3> </th>			
		</tr>
		<tr>
			<td>
				<b > First Name </b>
			</td>
		 	<td>
		 		<input type="text" id="first_name" class="jqxInput" data-role="none" />
		 	</td>
		
			<td>
				<b> Last Name </b>
			</td>
			<td>
				<input type="text" id="last_name" class="jqxInput" data-role="none" />	            				
			</td>
		</tr>
		<tr>
			<td>
				<b> Office Phone </b>
			</td>
			<td>
				<input type="text" id="office_phone" class="jqxInput" data-role="none" />	
			</td>
			<td>
				<b> Cell Phone </b>
			</td>
			<td>
				<input type="text" id="cell_phone" class="jqxInput" data-role="none" />
			</td>
		</tr>		
		<tr>
			<th style="border-bottom:1px solid #CCC;" colspan="4"> <h3> Scanning </h3> </th>			
		</tr>
		<tr>
			<td>
                <b> Pickup/Delivery </b>
            </td>
            <td>
              	<div id="scanner_delivery_pickup" class="jqxToggle">
              		Off
              	</div>
            </td>
            <td>	            
                <b> Fill </b>
            </td>
            <td>
              	<div id="scanner_fill" class="jqxToggle">
              		Off
              	</div>
            </td>
        <tr>
        	<td>
                <b> Add </b>
            </td>
            <td>
              	<div id="scanner_add" class="jqxToggle">
              		Off
              	</div>
            </td>
            <td>
                <b> Move </b>
            </td>
            <td>
              	<div id="scanner_move" class="jqxToggle">
              		Off
              	</div>
            </td>
        </tr>
        <tr>
			<th style="border-bottom:1px solid #CCC;" colspan="4"> <h3> Maintenance </h3> </th>			

		</tr>
		<tr>
			<td>
				<b> User  </b>
			</td>
			<td>
				<div id="user_maintenance" class="jqxToggle">
					Off
				</div>
			</td>
			<td>
				<b> Network  </b>
			</td>
			<td>	
				<div id="network_maintenance" class="jqxToggle">
					Off
				</div>
			</td>
		</tr>
		<tr>		                
			<td>
					<b> Location  </b>	                
			</td>
			<td>
				<div id="location_maintenance" class="jqxToggle">
					Off
				</div>
			</td>
			<td>
				<b> Product </b>
			</td>
			<td>
				<div id="product_maintenance" class="jqxToggle">
              		Off
              	</div>		
            </td>
        </tr>
		<tr>
			<td>	</td>			
			<td>	</td>			
			<td>	</td>
			<td> 
			 	<button class="popup jqxButton" id="cancel" data-role="none"> Cancel	</button>	
				<button class="popup jqxButton" id="save" data-role="none"> Save	</button>		 	
			</td>						
								
		</tr>
	</tbody>
</table>	
