   	<input type="button" style="float:left; margin:5px 5px 5px 0;" value="New" class='new' data-role="none"/>
	<input type="button" style="float:left; margin:5px 5px 5px 0;" value="Delete" class='delete' data-role="none"/>
	<input type="button" style="float:left; margin:5px 0px 5px 0;" value="Export to Excel" class='excelExport' data-role="none"/>

    <div class="full_window jqxGrid"></div>
	<h5 class="right" style="margin:0;"> Double click row to view. </h5>	