
<div class="<%= 'popup popup_' + params[:action].to_s %>" data-url="<%= request.path %>">	
	<div id="content" class="popup" data-role="content" style="margin:0px; padding:0px; position:relative;">			
	<!-- Main Content -->	
	
		<%= yield %>												
	</div>
</div>
<script>
	$(document).ready(function(){
		
		<% if params[:action].to_s == 'new' %>
//			new_popup()
		<% elsif params[:action].to_s == 'edit' %>
//			edit_popup()
			$('input[type=button].excelExport').attr('disabled', 'false');
		<% elsif params[:action].to_s == 'show' %>
			$('input, select').attr('disabled', 'true');
			$('input.excelExport').attr('disabled', 'false');
		<% end %>
	})
</script>
