    

	<input type="button" style="float:left; margin:5px 5px 5px 0;" value="New" id='new' data-role="none"/>
	<input type="button" style="float:left; margin:5px 5px 5px 0;" value="Delete" id='delete' data-role="none"/>
	<input type="button" style="float:left; margin:5px 0px 5px 0;" value="Export to Excel" id='excelExport' data-role="none"/>


    <div id="jqxgrid"></div>
	<div id="docking">
	    <div style="width:100%;">
	        <div id="window1" class="report_dock_window"> 
	            <div>
	                Product Information
	            </div>
	            <div>
	            	<form id="form_validator">
		            	<table style="width:100%;">
		            		<thead>
		            			<tr>
		            				<th colspan="1">
					            		<h2> Product Information </h2>	           	
		            				</th>
		            				<th> </th>
		            				<th> </th>
		            				<th colspan="2">	            			
		            					
		            				</th>	
		            				<th colspan="2">
		            					
		            				</th>	  
		            			</tr>
							</thead>
		            		<tbody>
		            			<tr>
		            				<td style="width:10%" colspan="1">  
										<h3 > Name </h3>
										 <input type="text" id="description" class="form_input" data-role="none" />
		            				</td>

		            				<td style="width:10%" colspan="1">  
										<h3> Varital </h3>
										<div id="product_type_id" class="form_dropdown"> 
										</div>
		            				</td>
		            				<td style="width:10%" colspan="1"> 
		            				</td>
		            				<td style="width:10%" colspan="1"> 
						                
						            </td>
						            <td style="width:10%;" colspan="1">
						            	
						            </td>
		            			</tr>
		            			<tr>
		            				<td style="width:10%" colspan="1">  
										<h3> Item # </h3>
										<input type="text" id="externalID" class="form_input" data-role="none" />	            						            					
		            					
		            				</td>
		            				<td style="width:10%" colspan="1">  	
		            				</td>

		            				<td style="width:10%" colspan="1">  	
		            				</td>

									<td style="width:10%" colspan="1"> 
						            </td>
						            <td style="width:10%" colspan="1"> 
						            </td>

		            				<td style="width:10%" colspan="1"> 

									</td>
									<td style="width:10%" colspan="1"> 
						            </td>

		            			</tr>

		            			<tr>
		            				<td style="width:10%" colspan="1">  	
		            					<br />	<br /><br />	<br />
		            				</td>
		            				<td style="width:10%" colspan="1">  	
		            				</td>
		            				<td style="width:10%" colspan="1">  	

		            				</td>
		            				<td> </td>
		            				<td> </td>
		            				<td> </td>
		            				<td> 

		            					<input type="button" style="width:100%; margin:5px auto 0 auto; float:right; min-width:200px;" value="Cancel" id='newCancelButton' data-role="none"/>
		            					
		            				</td>

									<td> 	            				
		            					<input type="button" style="width:100%; min-width:200px; display:none; margin:5px auto 0 auto; float:right;" value="Save" id='updateSaveButton' data-role="none"/>

		            					<input type="button" style="width:100%; margin:5px auto 0 auto; float:right; min-width:200px;" value="Create" id='newSaveButton' data-role="none"/>
		            				</td>	           				
		            			</tr>	            				
				
		            		</tbody>
		            	</table>
	            	</form>
	            </div>
	        </div>
	    </div>	    
	</div>


		<div id="popupWindow" style="display:none">
			<div> Product </div>
			<div>	</div>
		</div>