<li class="li-content">
<%= toolbar({:scanners_menu => true, :edit => true, :reports_menu => true, :browse_menu => true, :index => true, :maintenance_menu => true}) %>
	<div class="li-content" </div>
		Coming Soon...
	</div>
</li>